[Desktop Entry]
Name=Autorun Prompt
Name[ar]=محث التنفيذ التلقائي
Name[as]=অটোৰান সংক্ৰান্ত প্ৰমপ্ট
Name[ast]=Programa d'autoexecución
Name[be]=Запыт аўтазапуску
Name[be@latin]=Zapyt aŭtamatyčnaha ŭruchamleńnia
Name[bg]=Питане за автоматично стартиране
Name[bn]=অটোরান সংক্রান্ত প্রোমপ্ট
Name[bn_IN]=অটোরান সংক্রান্ত প্রমপ্ট
Name[br]=Pedadenn emerounit
Name[ca]=Pregunta d'execució automàtica
Name[ca@valencia]=Pregunta d'execució automàtica
Name[cmn]=自動執行提示
Name[crh]=Kendiliğinden Çalışma Sorusu
Name[cs]=Výzva automatického spuštění
Name[da]=Autokørselsforespørgsel
Name[de]=Autostart-Nachfrage
Name[el]=Ειδοποίηση αυτόματης εκτέλεσης
Name[en_AU]=Autorun Prompt
Name[en_GB]=Autorun Prompt
Name[es]=Pregunta de autoejecución
Name[et]=Automaatkäivituse küsimus
Name[eu]=Autoexekuzioaren galdera
Name[fi]=Automaattisuorituksen kehote
Name[fr]=Invite d'exécution automatique
Name[gl]=Preguntar polo autoarrinque
Name[gu]=પ્રોમ્પ્ટને આપમેળે ચલાવો
Name[gv]=Roie choonee hene
Name[he]=הפעלה אוטומטית
Name[hi]=स्वतः चलाएँ प्रांप्ट
Name[hr]=Samopokreni odzivnu poruku
Name[hu]=Automatikus futtatás
Name[id]=Sapaan Jalan Otomatis
Name[is]=Sjálfkeyrslukvaðning
Name[it]=Conferma esecuzione automatica
Name[ja]=オートランの問い合わせ
Name[ka]=ავტო-გაშვების შემოთავაზება
Name[kn]=ತಾನಾಗಿಯೆ ಚಲಾಯಿಸುವ ಪ್ರಾಪ್ಟ್
Name[ko]=자동시작 확인
Name[ky]=Автожүргүзүү суроосу
Name[lt]=Automatinio paleidimo raginimas
Name[lv]=Automātiskās palaišanas uzvedne
Name[mk]=Автоматско извршување
Name[ml]=സ്വയം പ്രവര്‍ത്തിയ്ക്കാനുള്ള ശ്രമം
Name[mr]=प्रॉमप्ट आपोआप चालवा
Name[ms]=Maklum Jalan-Sendiri
Name[nb]=Dialog for automatisk kjøring
Name[nds]=Autorun Avfrage
Name[nl]=Autorun dialoogvenster
Name[nn]=Dialog for automatisk køyring
Name[oc]=Demanda d'execucion automatica
Name[or]=ସ୍ୱୟଂଚାଳନ ପ୍ରୋମ୍ପଟ
Name[pa]=ਆਟੋ-ਰਨ ਸਵਾਲ
Name[pl]=Pytanie o automatyczne uruchamianie
Name[pt]=Questão de Execução Automática
Name[pt_BR]=Pergunta de execução automática
Name[ro]=Solicitare pornire automată
Name[ru]=Предложение автозапуска
Name[sk]=Výzva automatického spustenia
Name[sl]=Poziv samodejnega zagona
Name[sq]=Konfermo ekzekutimin automatik
Name[sr]=Аутоматско покретање
Name[sr@latin]=Automatsko pokretanje
Name[sv]=Automatisk körning
Name[ta]=தானியங்கி தூண்டி 
Name[te]=స్వయంచాలకంగా అడుగుము
Name[th]=คำถาม Autorun
Name[tr]=Kendiliğinden Çalışma Sorusu
Name[ug]=ئۆزلۈكىدىن ئىجرا ئەسكەرتىشى
Name[uk]=Пропозиція автозапуску
Name[ur]=آٹو رن لقمیہ
Name[vi]=Hỏi tự động chạy
Name[zh_CN]=自动运行提示
Name[zh_HK]=自動執行提示
Name[zh_TW]=自動執行提示
TryExec=caja-autorun-software
Exec=caja-autorun-software %u
Icon=application-x-executable
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
MimeType=x-content/software;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.1
