[Desktop Entry]
Name=Home Folder
Name[af]=Tuisgids
Name[am]=የቤት ፎልደር
Name[ar]=المجلد المنزل
Name[as]=ব্যক্তিগত ফোল্ডাৰ
Name[ast]=Carpeta Home
Name[az]=Ev Qovluğu
Name[be]=Хатні каталог
Name[be@latin]=Chatni kataloh
Name[bg]=Домашна папка
Name[bn]=হোম ফোল্ডার
Name[bn_IN]=ব্যক্তিগত ফোল্ডার
Name[br]=Teuliad Ar gêr
Name[bs]=Početni direktorij
Name[ca]=Carpeta de l'usuari
Name[ca@valencia]=Carpeta de l'usuari
Name[cmn]=家目錄
Name[crh]=Ev Cilbenti
Name[cs]=Domovská složka
Name[cy]=Plygell Cartref
Name[da]=Hjemmemappe
Name[de]=Persönlicher Ordner
Name[dz]=ཁྱིམ་གྱི་སྣོད་འཛིན།
Name[el]=Προσωπικός φάκελος
Name[en@shaw]=𐑣𐑴𐑥 𐑓𐑴𐑤𐑛𐑼
Name[en_AU]=Home Folder
Name[en_CA]=Home Folder
Name[en_GB]=Home Folder
Name[eo]=Hejma dosierujo
Name[es]=Carpeta personal
Name[et]=Kodukataloog
Name[eu]=Karpeta nagusia
Name[fa]=پوشه‌ی آغازه
Name[fi]=Kotikansio
Name[fr]=Dossier personnel
Name[fur]=Cjase
Name[ga]=Fillteán Baile
Name[gl]=Cartafol persoal
Name[gu]=ઘરનું ફોલ્ડર
Name[gv]=Coodagh Thaie
Name[ha]=Shamis na Gida
Name[he]=תיקיית הבית
Name[hi]=घर फ़ोल्डर
Name[hr]=Osobna mapa
Name[hu]=Saját mappa
Name[hy]=Սեփական տուն պանակ
Name[id]=Folder Rumah
Name[ig]=Nsomebefaịlụ nke ụlọ
Name[io]=Hema Dokumentuyo
Name[is]=Eigin mappa
Name[it]=Cartella home
Name[ja]=ホームフォルダ
Name[ka]=სახლის დასტა
Name[kn]=ನೆಲೆ (Home) ಕಡತಕೋಶ
Name[ko]=내 폴더
Name[ku]=Peldanka Mal
Name[ky]=Үй папкасы
Name[li]=Heimmap
Name[lt]=Namų aplankas
Name[lv]=Mājas mape
Name[mai]=घर फ़ोल्डर
Name[mg]=Laha-tahirin'ny fandraisana
Name[mi]=Kōpaki Kāinga
Name[mk]=Домашна папка
Name[ml]=ആസ്ഥാനഅറ
Name[mn]=Гэр хавтас
Name[mr]=मुळ संचयीका
Name[ms]=Folder Rumah
Name[nb]=Hjemmemappe
Name[nds]=Hemverteeknis
Name[ne]=गृह फोल्डर
Name[nl]=Persoonlijke map
Name[nn]=Heimemappe
Name[nso]=Sephuthedi sa Gae
Name[oc]=Repertòri personal
Name[or]=ମୂଳସ୍ଥାନ ଫୋଲଡର
Name[pa]=ਘਰ ਫੋਲਡਰ
Name[pl]=Katalog domowy
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta pessoal
Name[ro]=Dosar Acasă
Name[ru]=Домашняя папка
Name[si]=නිවාස බහලුම
Name[sk]=Domovský priečinok
Name[sl]=Domača mapa
Name[sq]=Kartela home
Name[sr]=Лична фасцикла
Name[sr@ije]=Лични директоријум
Name[sr@latin]=Lična fascikla
Name[sv]=Hemmapp
Name[ta]=இல்ல அடைவு
Name[te]=నివాసం సంచయం
Name[th]=โฟลเดอร์บ้าน
Name[tk]=Öý Haltasy
Name[tr]=Ev Klasörü
Name[ug]=باش مۇندەرىجە
Name[uk]=Домашня тека
Name[ur]=گھر کا فولڈر
Name[uz]=Uy jildi
Name[uz@cyrillic]=Уй жилди
Name[vi]=Thư mục chính
Name[wa]=Ridant måjhon
Name[xh]=Isiqulathi -zifayili Sasekhaya
Name[yo]=Fódà Ilé
Name[zh_CN]=主文件夹
Name[zh_HK]=家目錄
Name[zh_TW]=家目錄
Name[zu]=Isibaya sasekhaya
Comment=Open your personal folder
Comment[af]=Open jou persoonlike gids
Comment[am]=የግል ፎልደር መክፈቻ
Comment[ar]=افتح مجلّدك الشخصي
Comment[as]=ব্যক্তিগত ফোল্ডাৰ খোলক
Comment[ast]=Abrir la so carpeta personal
Comment[be]=Адкрыць хатні каталог
Comment[be@latin]=Adčyniaje tvoj pryvatny kataloh
Comment[bg]=Отваряне на вашата лична папка
Comment[bn]=ব্যক্তিগত ফোল্ডার খুলুন
Comment[bn_IN]=ব্যক্তিগত ফোল্ডার খুলুন
Comment[br]=Digeriñ ho teuliad personel
Comment[ca]=Obriu la vostra carpeta personal
Comment[ca@valencia]=Obriu la vostra carpeta personal
Comment[cmn]=開啟您的個人資料夾
Comment[crh]=Şahsiy cilbentiñizni açıñız
Comment[cs]=Otevřít osobní složku
Comment[da]=Åbn din personlige mappe
Comment[de]=Den persönlichen Ordner öffnen
Comment[dz]=ཁྱོད་རའི་རང་དོན་གྱི་སྣོད་འཛིན་ཁ་ཕྱེ་
Comment[el]=Άνοιγμα του προσωπικού σας φακέλου
Comment[en@shaw]=𐑴𐑐𐑩𐑯 𐑿𐑼 𐑐𐑻𐑕𐑩𐑯𐑩𐑤 𐑓𐑴𐑤𐑛𐑼
Comment[en_AU]=Open your personal folder
Comment[en_CA]=Open your personal folder
Comment[en_GB]=Open your personal folder
Comment[eo]=Malfermi vian personan dosierujon
Comment[es]=Abrir su carpeta personal
Comment[et]=Isikliku kataloogi avamine
Comment[eu]=Ireki karpeta pertsonala
Comment[fi]=Avaa kotikansio
Comment[fr]=Ouvrir votre dossier personnel
Comment[fur]=Vierç la tô cartele personâl
Comment[ga]=Oscail d'fhillteán pearsanta
Comment[gl]=Abre o seu cartafol persoal
Comment[gu]=તમારું વ્યક્તિગત ફોલ્ડર કોલો
Comment[gv]=Foashley yn coodagh persoonagh ayd's
Comment[he]=פתיחת התיקייה הפרטית שלך
Comment[hi]=अपना निजी फ़ोल्डर खोलें
Comment[hr]=Otvori svoju osobnu mapu
Comment[hu]=A személyes mappájának megnyitása
Comment[id]=Membuka folder pribadi Anda
Comment[is]=Opna einkamöppuna þína
Comment[it]=Apre la propria cartella personale
Comment[ja]=ユーザ専用のフォルダを開きます
Comment[ka]=პირადი დასტის გახსნა
Comment[kk]=Жеке бумаңызды ашу
Comment[kn]=ನಿಮ್ಮ ವೈಯಕ್ತಿಕ ಕಡತಕೋಶವನ್ನು ತೆರೆಯಿರಿ
Comment[ko]=개인 폴더를 엽니다
Comment[ku]=Peldanka şexsî veke
Comment[ky]=Жеке папкаңызды ачуу
Comment[lt]=Atverti asmeninį aplanką
Comment[lv]=Atvērt jūsu personisko mapi
Comment[mai]=अपन निजी फ़ोल्डर खोलू
Comment[mk]=Отвори ја твојата папка
Comment[ml]=നിങ്ങളുടെ സ്വകാര്യ അറ തുറക്കുക
Comment[mr]=आपली व्यक्तिगत संचयीका उघडा
Comment[ms]=Buka folder peribadi anda
Comment[nb]=Åpne din personlige mappe
Comment[nds]=Hemverteeknis opmaken
Comment[ne]=तपाईँको व्यक्तिगत फोल्डर खोल्नुहोस्
Comment[nl]=Persoonlijke map openen
Comment[nn]=Opna din personlige mappe
Comment[oc]=Dobrir vòstre repertòri personal
Comment[or]=ଆପଣଙ୍କ ନିଜସ୍ବ ଫୋଲଡର ଖୋଲନ୍ତୁ
Comment[pa]=ਆਪਣਾ ਨਿੱਜੀ ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Comment[pl]=Otwiera katalog osobisty
Comment[pt]=Abrir a pasta pessoal
Comment[pt_BR]=Abra a sua pasta pessoal
Comment[ro]=Deschide dosarul personal
Comment[ru]=Открыть вашу личную папку
Comment[si]=ඔබගේ පෞද්ගලික බහලුම් විවෘත කරන්න
Comment[sk]=Otvoriť osobný priečinok
Comment[sl]=Odpre vašo osebno mapo
Comment[sq]=Hap kartelën personale
Comment[sr]=Отвара личну фасциклу
Comment[sr@latin]=Otvara ličnu fasciklu
Comment[sv]=Öppna din personliga mapp
Comment[ta]=உங்கள் அந்தரங்க அடைவை திறக்கவும்
Comment[te]=వ్యక్తిగత సంచయాన్ని తెరువుము
Comment[th]=เปิดโฟลเดอร์ส่วนตัวของคุณ
Comment[tr]=Kişisel klasörünü aç
Comment[ug]=شەخسىي قىسقۇچىڭىزنى ئاچىدۇ
Comment[uk]=Відкрити вашу персональну теку
Comment[ur]=اپنا ذاتی فولڈر کھولیں
Comment[uz]=Shaxsiy jildni ochish
Comment[uz@cyrillic]=Шахсий жилдни очиш
Comment[vi]=Mở thư mục cá nhân
Comment[zh_CN]=打开您的个人文件夹
Comment[zh_HK]=開啟你的個人資料夾
Comment[zh_TW]=開啟您的個人資料夾
TryExec=caja
Exec=caja --no-desktop
Icon=user-home
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Core;
Keywords=home;personal;folder;open;MATE;
OnlyShowIn=MATE;
NoDisplay=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
