[Desktop Entry]
Name=dconf Editor
Name[an]=Editor de dconf
Name[ar]=محرر dconf
Name[as]=dconf সম্পাদক
Name[be]=Рэдактар dconf-настроек
Name[bg]=Редактор за dconf
Name[bn_IN]=dconf সম্পাদক
Name[ca]=Editor del dconf
Name[ca@valencia]=Editor del dconf
Name[cs]=Editor dconf
Name[da]=dconf-redigering
Name[de]=dconf-Editor
Name[el]=Επεξεργαστής dconf
Name[en_GB]=dconf Editor
Name[eo]=dconf Redaktilo
Name[es]=Editor de dconf
Name[et]=dconf redaktor
Name[eu]=dconf editorea
Name[fa]=ویرایشگر dconf
Name[fi]=dconf-muokkain
Name[fr]=Éditeur dconf
Name[fur]=Editôr di dconf
Name[gl]=Editor dconf
Name[he]=עורך dconf
Name[hi]=dconf संपादक
Name[hu]=dconf szerkesztő
Name[id]=Penyunting dconf
Name[it]=dconf Editor
Name[ja]=dconf エディター
Name[ko]=dconf 편집기
Name[lt]=dconf Redaktorius
Name[lv]=dconf redaktors
Name[ml]=dconf എഡിറ്റര്‍
Name[mr]=डीकॉन्फ संपादक
Name[nb]=dconf redigering
Name[nl]=dconf-editor
Name[pa]=dconf ਐਡੀਟਰ
Name[pl]=Edytor dconf
Name[pt]=Editor dconf
Name[pt_BR]=Editor do dconf
Name[ru]=Редактор dconf
Name[sk]=Editor pre systém dconf
Name[sl]=Urejevalnik dConf
Name[sr]=Уређивач д-подешавања
Name[sr@latin]=Uređivač d-podešavanja
Name[sv]=dconf-redigerare
Name[ta]=டிகான்ஃப் திருத்தி
Name[te]=డికాన్ఫ్ కూర్పకం
Name[tg]=Муҳаррири dconf
Name[th]=เครื่องมือแก้ไข dconf
Name[tr]=dconf Düzenleyici
Name[ug]=dconf تەھرىرلىگۈچى
Name[uk]=Редактор dconf
Name[vi]=Trình soạn thảo dconf
Name[zh_CN]=dconf 系统配置编辑器
Name[zh_HK]=dconf 編輯器
Name[zh_TW]=dconf 編輯器
Comment=Directly edit your entire configuration database
Comment[an]=Edita toda la configuración d'a base de datos dreitament
Comment[ar]=تحرير قاعدة بيانات إعداداتك بأكملها بطريقة مباشرة
Comment[as]=আপোনাৰ সম্পূৰ্ণ সংৰূপ ডাটাবেইচ প্ৰত্যক্ষভাৱে সম্পাদন কৰক
Comment[be]=Непасрэднае рэдагаванне ўсёй канфігурацыйнай базы
Comment[bg]=Редактиране на цялата база от данни с настройки
Comment[bn_IN]=আপনার সম্পূর্ণ কনফিগারেশন ডাটাবেস সরাসরি সম্পাদন করুন
Comment[ca]=Editeu directament la base de dades de configuració
Comment[ca@valencia]=Editeu directament la base de dades de configuració
Comment[cs]=Přímo upravovat celou svoji databázi nastavení
Comment[da]=Redigér direkte i hele din konfigurationsdatabase
Comment[de]=Direkter Zugriff auf Ihre gesamte Konfigurationsdatenbank
Comment[el]=Απευθείας επεξεργασία ολόκληρης της βάσης δεδομένων ρυθμίσεων
Comment[en_GB]=Directly edit your entire configuration database
Comment[eo]=Rekte redakti vian totan agordan datumbazon
Comment[es]=Edite toda la configuración de la base de datos directamente
Comment[et]=Seadistuste andmebaasi vahetu muutmine
Comment[eu]=Editatu zuzenean zure konfigurazioaren datu-base osoa
Comment[fa]=مستقیما تمام پایگاه‌داده‌ی پیکربندی خود را ویرایش کنید
Comment[fi]=Muokkaa suoraan koko asetustietokantaasi
Comment[fr]=Modifier directement toute votre base de données de configuration
Comment[fur]=Modifiche diretementri l'intîr database de configurazion
Comment[gl]=Edite directamente toda a súa base de datos de configuración
Comment[he]=עריכה ישירה של כל מסד נתוני התצורה שלך
Comment[hi]=अपने सम्पूर्ण विन्यास डाटाबेस को सीधे संपादित करें
Comment[hu]=A konfigurációs adatbázis közvetlen szerkesztése
Comment[id]=Menyunting langsung seluruh basis data konfigurasi Anda
Comment[it]=Modifica direttamente l'intero database di configurazione
Comment[ja]=設定データベースを直接編集します
Comment[ko]=모든 설정 데이터베이스를 직접 편집합니다
Comment[lt]=Tiesiogiai redaguokite savo visą konfigūracijos duomenų bazę
Comment[lv]=Tieši rediģē visu savu konfigurācijas datubāzi
Comment[ml]=മൊത്തം ക്രമീകരണ ഡാറ്റാബൈസും നേരിട്ട് തിരുത്തുക
Comment[mr]=संपूर्ण संरचना डाटाबेस थेट संपादित करा
Comment[nb]=Rediger konfigurasjonsdatabasen direkte
Comment[nl]=De gehele configuratie-database rechtstreeks bewerken
Comment[pa]=ਆਪਣੇ ਪੂਰੇ ਸੰਰਚਨਾ ਡਾਟਾਬੇਸ ਨੂੰ ਸਿੱਧਾ ਸੋਧੋ
Comment[pl]=Bezpośrednia modyfikacja bazy danych konfiguracji
Comment[pt]=Edite diretamente toda a sua base de dados de configuração
Comment[pt_BR]=Edite diretamente seu banco de dados de configuração por inteiro
Comment[ru]=Прямое редактирование базы данных настроек среды
Comment[sk]=Priama úprava celej vašej databázy nastavení
Comment[sl]=Neposredno urejanje celotne podatkovne zbirke nastavitev
Comment[sr]=Непосредно уредите вашу базу са подешавањима
Comment[sr@latin]=Neposredno uredite vašu bazu sa podešavanjima
Comment[sv]=Redigera hela din konfigurationsdatabas direkt
Comment[ta]=உங்கள் முழு வடிவமைப்பு தரவுத்தளத்தை நேரடியாக திருத்துக
Comment[te]=పూర్తి స్వరూపణ దత్తాంశాన్ని నేరుగా సవరించు
Comment[tg]=Тамоми пойгоҳи иттилооти танзимоти худро бевосита таҳрир кунед
Comment[th]=แก้ไขฐานข้อมูลค่าตั้งของคุณทั้งหมดโดยตรง
Comment[tr]=Yapılandırma veri tabanınızın tamamını doğrudan düzenleyin
Comment[ug]=سەپلىمە ساندىنىنى بىۋاسىتە تەھرىرلەيدۇ
Comment[uk]=Безпосереднє редагування бази даних налаштувань
Comment[vi]=Sửa trực tiếp toàn bộ cơ sở dữ liệu cấu hình của bạn
Comment[zh_CN]=便捷地编辑您的系统设置
Comment[zh_HK]=直接編輯你的整個組態資料庫
Comment[zh_TW]=直接編輯您的整個組態資料庫
Keywords=settings;configuration;
Keywords[an]=opcions;configuración;
Keywords[as]=settings;configuration;
Keywords[be]=настройкі;канфігурацыя;
Keywords[bg]=настройки;конфигурации;settings;configuration;
Keywords[ca]=paràmetres;configuració;
Keywords[ca@valencia]=paràmetres;configuració;
Keywords[cs]=nastavení;konfigurace;
Keywords[da]=indstillinger;valgmuligheder;valg;konfiguration;
Keywords[de]=Einstellungen;Konfiguration;
Keywords[el]=ρυθμίσεις;διαμόρφωση;
Keywords[eo]=agordoj;
Keywords[es]=configuración;ajustes;
Keywords[et]=seadistus;sätted;seaded;konfiguratsioon;
Keywords[eu]=ezarpenak;konfigurazioa;
Keywords[fa]=تنظیمات;پیکربندی;
Keywords[fi]=settings;configuration;asetukset;määritykset;
Keywords[fr]=paramètres;configuration;
Keywords[gl]=preferencias;configuración;
Keywords[he]=הגדרות;תצורה;קונפיגורציה;
Keywords[hi]=सेटिंग्स; विन्यास;
Keywords[hu]=beállítások;konfiguráció;
Keywords[id]=pengaturan;konfigurasi;
Keywords[it]=impostazione;impostazioni;configurazione;
Keywords[ja]=settings;configuration;設定;gsettings;
Keywords[ko]=settings;configuration;설정;
Keywords[lt]=nustatymai;konfigūracija;
Keywords[lv]=iestatījumi;konfigurācija;
Keywords[ml]=settings;configuration;
Keywords[nb]=innstillinger;konfigurasjon;
Keywords[nl]=instellingen;configuratie;settings;configuration;
Keywords[pa]=ਸੈਟਿੰਗ;ਸੰਰਚਨਾ;settings;configuration;
Keywords[pl]=ustawienia;konfiguracja;preferencje;opcje;rejestr;
Keywords[pt]=definições;configuração;
Keywords[pt_BR]=ajustes;configuração;configurações;
Keywords[ru]=настройка;параметры;конфигурация;
Keywords[sk]=nastavenia;konfigurácia;
Keywords[sl]=nastavitve;konfiguracija;sistem;
Keywords[sr]=подешавања;поставке;конфигурација;
Keywords[sr@latin]=podešavanja;postavke;konfiguracija;
Keywords[ta]=அமைப்பு;வடிவமைப்பு;
Keywords[tg]=танзимот;конфигуратсия;
Keywords[th]=ค่าตั้ง;ตั้งค่า;
Keywords[tr]=ayarlar;yapılandırma;
Keywords[ug]=settings;configuration;تەڭشەكلەر;سەپلىمە;
Keywords[zh_HK]=settings;configuration;設定值;組態;
Keywords[zh_TW]=settings;configuration;設定值;組態;
Exec=dconf-editor
Terminal=false
Type=Application
Icon=dconf-editor
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dconf
X-GNOME-Bugzilla-Component=editor
X-GNOME-Bugzilla-Version=0.18.0
