[Desktop Entry]
Encoding=UTF-8
Name=Dia Diagram Editor
Name[ar]=محرّر المخطّطات ديّا
Name[ast]=Editor de diagrames
Name[bg]=Редактор на диаграми (Dia)
Name[ca]=Editor de diagrames Dia
Name[ca@valencia]=Editor de diagrames Dia
Name[cs]=Editor diagramů Dia
Name[da]=Dia - diagramtegning
Name[de]=Dia Diagrammeditor
Name[dz]=ཌི་ཡ་ བཀོད་རིས་ཞུན་དགཔ་
Name[el]=Επεξεργαστής διαγραμμάτων Dia
Name[en_CA]=Dia Diagram Editor
Name[en_GB]=Dia Diagram Editor
Name[eo]=Dia Diagramo-Redaktilo
Name[es]=Editor de diagramas
Name[eu]=Dia, diagrama-editorea
Name[fi]=Dia-kaaviomuokkain
Name[fr]=Éditeur de diagrammes Dia
Name[gl]=Editor de diagrama Dia
Name[gu]=Dia આકૃતિ સંપાદક
Name[hu]=Dia diagramszerkesztő
Name[id]=Editor Diagram Dia
Name[ja]=Dia ダイアグラム・エディタ
Name[ko]=Dia 도표 편집기
Name[lt]=Dia diagramų redaktorius
Name[mr]=Dia आकृती संपादक
Name[nb]=Diagramredigering
Name[ne]=डाय चित्र सम्पादक
Name[nl]=Dia diagram bewerken
Name[pt]=Editor de Diagramas Dia
Name[pt_BR]=Editor de diagramas Dia
Name[ro]=Editor de diagrame Dia
Name[ru]=Dia — Редактор диаграмм
Name[sk]=Dia editor diagramov
Name[sl]=Urejevalnik diagramov Dia
Name[sr]=Диа уређивач дијаграма
Name[sr@Latn]=Dia uređivač dijagrama
Name[sv]=Diagramredigeraren Dia
Name[ta]=Dia வரைபட எடிட்டர்
Name[uk]=Редактор діаграм Діа
Name[vi]=Bộ biên soạn sơ đồ Dia
Name[zh_CN]=Dia 图表编辑器
Name[zh_HK]=Dia 圖表編輯器
Name[zh_TW]=Dia 圖表編輯器
Comment=Edit your Diagrams
Comment[ar]=حرّر مخطّطاتك
Comment[ast]=Edita los tos diagrames
Comment[bg]=Редактиране на диаграми
Comment[ca]=Editeu els vostres diagrames
Comment[ca@valencia]=Editeu els vostres diagrames
Comment[cs]=Upravte své diagramy
Comment[da]=Redigér diagrammer
Comment[de]=Diagramme bearbeiten
Comment[dz]=ཁྱོད་རའི་བཀོད་རིས་ ཞུན་དག་འབད་
Comment[el]=Επεξεργασθείτε τα διαγράμματα σας 
Comment[en_CA]=Edit your Diagrams
Comment[en_GB]=Edit your Diagrams
Comment[eo]=Redakti vian diagramojn
Comment[es]=Edite sus diagramas
Comment[eu]=Editatu diagramak
Comment[fi]=Muokkaa kaavioitasi
Comment[fr]=Éditer vos diagrammes
Comment[gl]=Editar os teus diagramas
Comment[gu]=તમારી આકૃતિઓમાં ફેરફાર કરો
Comment[hu]=Diagramok szerkesztése
Comment[id]=Edit Diagram Anda
Comment[ja]=ダイアグラムを編集します
Comment[ko]=도표 편집
Comment[lt]=Kurti diagramas
Comment[mr]=तुमची आकृती संपादीत करा
Comment[nb]=Rediger dine diagrammer
Comment[ne]=तपाईँको चित्रहरू सम्पादन गर्नुहोस्
Comment[nl]=Diagrammen bewerken
Comment[pt]=Edite os seus Diagramas
Comment[pt_BR]=Edite os seus diagramas
Comment[ro]=Editați diagrame
Comment[ru]=Редактировать ваши диаграммы
Comment[sk]=Upravovať vaše diagramy
Comment[sl]=Urejajte svoje diagrame
Comment[sr]=Уређивање ваших дијаграм
Comment[sr@Latn]=Uređivanje vaših dijagram
Comment[sv]=Redigera dina diagram
Comment[ta]=உங்களின் வரைபடங்களை திருத்தவும்
Comment[th]=แก้ไขแผนภูมิของคุณ
Comment[uk]=Редагування Ваших діаграм
Comment[vi]=Hiệu chỉnh sơ đồ
Comment[zh_CN]=编辑您的图表
Comment[zh_HK]=編輯你的圖表
Comment[zh_TW]=編輯您的圖表
Type=Application
Exec=dia %F
Icon=dia
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true
MimeType=application/x-dia-diagram;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dia
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=@0.97.2@

