#
# This file is part of the LibreOffice project.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This file incorporates work covered by the following license notice:
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements. See the NOTICE file distributed
#   with this work for additional information regarding copyright
#   ownership. The ASF licenses this file to you under the Apache
#   License, Version 2.0 (the "License"); you may not use this file
#   except in compliance with the License. You may obtain a copy of
#   the License at http://www.apache.org/licenses/LICENSE-2.0 .
#
[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice4.4-draw
Type=Application
Categories=Office;FlowChart;Graphics;2DGraphics;VectorGraphics;X-Red-Hat-Base;X-MandrivaLinux-Office-Drawing;
Exec=libreoffice4.4 --draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.visio;application/x-wpg;application/vnd.corel-draw;application/vnd.ms-publisher;image/x-freehand;application/clarisworks;application/x-pagemaker;
Name=LibreOffice 4.4 Draw
GenericName=Drawing Program
GenericName[sid]=Misilsate Pirogiraame
GenericName[ne]=रेखाचित्र कार्यक्रम
GenericName[tr]=Çizim Programı
GenericName[da]=Tegneprogram
GenericName[ug]=سىزمىچىلىق پروگراممىسى
GenericName[ru]=Редактор рисунков
GenericName[my]=ပုံရေးဆွဲသည့်ပရိုဂရမ်
GenericName[gl]=Programa de debuxo
GenericName[nb]=Tegneprogram
GenericName[ro]=Program de desenare
GenericName[nso]=Lenaneo la go thala
GenericName[vi]=Chương trình vẽ
GenericName[tn]=Drawing Program
GenericName[lo]=Drawing Program
GenericName[ta]=வரைபட செயலி
GenericName[lb]=Drawing Program
GenericName[rw]=Drawing Program
GenericName[nr]=Drawing Program
GenericName[sw_TZ]=Drawing Program
GenericName[br]=Goulev tresañ
GenericName[ts]=Drawing Program
GenericName[ml]=ചിത്രരചനയ്ക്കുള്ള പ്രോഗ്രാം
GenericName[cy]=Rhaglen Lluniadu
GenericName[bo]=རི་མོ་འབྲི་བའི་བྱ་རིམ།
GenericName[zh_CN]=绘图程序
GenericName[st]=Drawing Program
GenericName[en_GB]=Drawing Program
GenericName[ko]=그리기 프로그램
GenericName[uz]=Rasmlar tahrirchisi
GenericName[cs]=Kreslící program
GenericName[km]=កម្មវិធី​គូរ
GenericName[af]=Tekenprogram
GenericName[pa_IN]=ਡਰਾਇੰਗ ਪਰੋਗਰਾਮ
GenericName[is]=Teikniforrit
GenericName[bs]=Program za crtanje
GenericName[brx]=Drawing Program
GenericName[ca_valencia]=Programa de dibuix
GenericName[ga]=Ríomhchlár Líníochta
GenericName[ka]=Drawing Program
GenericName[eu]=Marrazketa programa
GenericName[oc]=Programa de dessenh
GenericName[mni]=দ্রোযিং প্রোগ্রাম
GenericName[gu]=પ્રક્રિયાનું ચિત્ર દોરી રહ્યા છે
GenericName[bg]=Програма за чертане
GenericName[sv]=Ritprogram
GenericName[it]=Programma di disegno
GenericName[hu]=Rajzolóprogram
GenericName[sq]=Ekzekuto programin
GenericName[pl]=Program graficzny
GenericName[ca]=Programa de dibuix
GenericName[fa]=برنامه طراحی
GenericName[zh_TW]=繪圖程式
GenericName[sa_IN]=प्रोग्राम् आलिखति
GenericName[sk]=Kresliaci program
GenericName[ve]=Drawing Program
GenericName[uk]=Програма для малювання
GenericName[pt]=Programa de desenho
GenericName[hi]=रेखाचित्र प्रोग्राम
GenericName[ks]=Drawing Program
GenericName[es]=Programa de dibujo
GenericName[tt]=Drawing Program
GenericName[ast]=Programa de dibuxu
GenericName[lv]=Zīmēšanas lietotne
GenericName[fr]=Programme de dessin
GenericName[ss]=Drawing Program
GenericName[or]=ପ୍ରଗ୍ରାମ ଆଙ୍କୁଅଛି
GenericName[id]=Program Menggambar
GenericName[xh]=Drawing Program
GenericName[th]=โปรแกรมวาดภาพ
GenericName[sr]=Програм за цртање
GenericName[si]=ඇදිමේ වැඩසටහන
GenericName[et]=Skeemilooja
GenericName[kok]=चित्रांचो प्रोग्रामPintravnne karyem
GenericName[bn_IN]=অঙ্কন প্রোগ্রাম
GenericName[dgo]=चित्रकारी प्रोग्राम
GenericName[om]=Sagantaa Fakkii Kaasu
GenericName[mk]=Програма за цртање
GenericName[en]=Drawing Program
GenericName[fi]=Piirrosohjelma
GenericName[lt]=Grafikos rengyklė
GenericName[de]=Zeichenprogramm
GenericName[hr]=Program za crtanje
GenericName[mai]=Drawing Program
GenericName[be]=Праграма рысавання
GenericName[zu]=Drawing Program
GenericName[sd]=نقش رچيندڙ پروگرام
GenericName[sr_Latn]=Program za crtanje
GenericName[kmr_Latn]=Bernameya Xêzkirinê
GenericName[sl]=Program za risanje
GenericName[nn]=Teikneprogram
GenericName[bn]=অঙ্কন প্রোগ্রাম
GenericName[am]=መሳያ ፕሮግራም
GenericName[ja]=図形描画プログラム
GenericName[tg]=Drawing Program
GenericName[mr]=चित्ररेखा कार्यक्रम
GenericName[en_ZA]=Drawing Program
GenericName[dz]=Drawing Program
GenericName[te]=చిత్రలేఖక ప్రోగ్రాము
GenericName[he]=תוכנת רשום
GenericName[kn]=ಡ್ರಾಯಿಂಗ್ ಕ್ರಮವಿಧಿ
GenericName[eo]=Desegna programo
GenericName[nl]=Tekenprogramma
GenericName[ar]=برنامج الرسم
GenericName[mn]=Drawing Program
GenericName[gd]=Prògram tarraing
GenericName[as]=ড্রয়িং কাৰ্যক্ৰম
GenericName[sat]=गार चिता़र का़मी होरा
GenericName[el]=Πρόγραμμα σχεδίασης
GenericName[kk]=Сурет салу бағдарламасы
GenericName[pt_BR]=Programa de desenho
Comment=Create and edit drawings, flow charts and logos by using Draw.
Comment[sid]=Goshooshatenni misilla, illisaano soronna sumudda kalaqqe mucceessi.
Comment[ne]=चित्रको प्रयोगद्वारा रेखाचित्रहरू, फ्लो चित्रपटहरू र लोगोहरू सिर्जना तथा सम्पादन गर्नुहोस् ।
Comment[tr]=Draw kullanarak akış çizelgeleri ve logolar oluşturabilir ve düzenleyebilirsiniz.
Comment[da]=Opret og rediger tegninger, rutediagrammer og logoer ved brug af Draw.
Comment[ug]=Draw ئىشلىتىپ سىزمىچىلىق، دىئاگرامما ۋە تۇغ قۇرۇپ ۋە تەھرىرلىيەلەيسىز.
Comment[ru]=Создание и редактирование рисунков, блок-схем и логотипов.
Comment[my]=ပုံရေးဆွဲမှု ကိုအသုံးပြုခြင်းဖြင့် ရုပ်ပုံရေးဆွဲမှုများ၊ ပုံစံကားချပ်များနှင့် အညွှန်းများ ပြင်ဆင်တည်းဖြတ်ပါ။ 
Comment[gl]=Crear e editar debuxos, fluxogramas e logotipos con Draw.
Comment[nb]=Opprett og rediger tegninger, flytdiagrammer og logoer ved å bruke Draw.
Comment[ro]=Creați și editați desene, diagrame și sigle folosind Draw.
Comment[nso]=Hlama le go lokiša dithalwa, ditšhate tša go elela, le maswao ka go diriša Draw.
Comment[vi]=Tạo và sửa bản vẽ, lưu đồ và biểu hình, dùng trình Draw.
Comment[tn]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[lo]=ສ້າງແລະແກ້ໄຂການແຕ້ມ, ແຜນວາດ, ໂລໂກດ້ວຍການນຳໃຊ້ຕົວແຕ້ມ.
Comment[ta]=வரைபடங்கள், செயல்வழிப்படங்கள், லோகோ ஆகியவற்றை உருவாக்கவும் தொகுக்கவும் டிராவைப் பயன்படுத்துக.
Comment[lb]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[rw]=Kurema no guhindura ibishushanyo, ibishushanyo by'ikurikirana, n'ikirango ukoresheje Draw
Comment[nr]=Enza nokuhlela imigwalo, amaflowtjhati namalogo ngokusebenzisa i-Draw.
Comment[sw_TZ]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[br]=Draw - Krouiñ hag embann tresadennoù, frammlunioù ha sielloù.
Comment[ts]=Endla ni ku lulamisa Vudirowi, tichati ta ntlhandlamano ni mimfungho hi ku tirhisa Draw.
Comment[ml]=ചിത്രരചന ഉപയോഗിച്ച് ചിത്രങ്ങള്, ഫ്‍ളോചാര്ട്ടുകള്, ലോഗോകള് സൃഷ്ടിക്കുകയും എഡിറ്റു ചെയ്യുകയും ചെയ്യുക.
Comment[cy]=Creu a golygu darluniau, siartiau llif a logos drwy ddefnyddio Draw.
Comment[bo]=Drawབེད་སྤྱད་དེ་རིས་དབྱིབས་དང་།  ལས་རིམ་རི་མོ།  དབུས་པེའོ་བཅས་བཟོ་བ་མ་ཟད།  རྩོམ་སྒྲིག་བྱེད་རྒྱུ།
Comment[zh_CN]=使用 Draw 创建并编辑图形、流程图和徽标。
Comment[st]=Bopa le ho lokisa tse torowilweng, ditjhate tse phallang, le di-logo ka ho sebedisa Draw.
Comment[en_GB]=Create and edit drawings, flow charts and logos using Draw.
Comment[ko]=그리기를 사용하여 그리기, 순서도 및 로고를 만들고 편집합니다.
Comment[uz]=Draw yordamida chizmalar. grafiklar va logolar yaratish va tahrirlash.
Comment[cs]=Draw umožňuje vytvářet a upravovat kresby, vývojové diagramy a loga.
Comment[km]=បង្កើត និង​កែ​សម្រួល​គំនូរ គំនូស​តាង​​លំហូរ និង​រូបសញ្ញា​ដោយ​ប្រើ Draw ។
Comment[af]=Skep en redigeer tekeninge, vloeigrafieke en logo's met Draw.
Comment[pa_IN]=ਡਰਾਇੰਗ ਨਾਲ ਸ਼ਕਲਾਂ, ਵਹਾ-ਚਾਰਟ ਅਤੇ ਲੋਗੋ ਬਣਾਏ ਅਤੇ ਸੋਧੇ ਜਾ ਸਕਦੇ ਹਨ।
Comment[is]=Búa til og breyta teikningum, flæðiritum og merkjum með því að nota Draw.
Comment[bs]=Kreiranje i uređivanje crteža, dijagrama toka i amblema koristeći Draw.
Comment[brx]=सावगारि एरनाय बाहायनानै सावगारि एरनाय, बोहैनाय चार्ट, आरो ल'ग'स सोरजि आरो सुजु
Comment[ca_valencia]=Creeu i editeu dibuixos, diagrames de flux i logotips amb el Draw.
Comment[ga]=Cruthaigh líníochtaí, sreabhchairteacha, agus lógónna, agus cuir iad in eagar le Draw.
Comment[ka]=ქმნის და ასწორებს ნახატებს, დინების სქემებს და ლოგოებს Draw-ს გამოყენებით.
Comment[eu]=Marrazkiak, fluxu-diagramak eta logotipoak sortu eta editatu Draw erabiliz.
Comment[oc]=Draw - Creacion e edicion de dessenhs, d'organigramas e de lògos.
Comment[mni]=য়েকপা শিজিন্নদুনা অয়েকপশিং, ফ্লো চার্তশিং অমসুং লোগোশিং শেমগতলো অমসুং শেমদোকউ.
Comment[gu]=ચિત્ર દ્દારા ચિત્રો, ફલો ચાર્ટ, અને લોગો બનાવો અને સુઘારો.
Comment[bg]=С Draw можете да създавате и редактирате рисунки, блок-схеми и емблеми.
Comment[sv]=Skapa och redigera teckningar, flödesdiagram och logotyper med hjälp av Draw.
Comment[it]=Con Draw puoi creare e modificate disegni, diagrammi di flusso e loghi.
Comment[hu]=Rajzok, folyamatábrák és logók létrehozása és szerkesztése a Draw használatával.
Comment[sq]=Krijo dhe edito vizatime, grafike dhe logo permes Draw
Comment[pl]=Twórz i edytuj rysunki, wykresy i znaki graficzne używając programu Draw.
Comment[ca]=Creeu i editeu dibuixos, diagrames de flux i logotips amb el Draw.
Comment[fa]=با استفاده از نقاش، نقاشی، روندنما و علامت تجاری طراحی یا ویرایش کنید.
Comment[zh_TW]=使用 Draw 可建立與編輯繪圖、流程圖以及標誌。
Comment[sa_IN]=ड्रा उपयुज्य, आलेखान्, फ्लोचार्ट्स्, लोगोस् च उत्पादय तथा सम्पदाय च।
Comment[sk]=Vytvárajte a upravujte obrázky, postupové diagramy a logá s použitím Draw.
Comment[ve]=Vhumbani nahone ni lulamise nyolo, tshati dza kusuvhele, na dziḽogo nga u shumisa Draw.
Comment[uk]=Створення та редагування малюнків, діаграми та емблем.
Comment[pt]=Criar e editar desenhos, fluxogramas e logótipos com o Draw.
Comment[hi]=ड्रॉ के प्रयोग से रेखाचित्र, फ्लोचार्ट, और लोगो बनाता और संपादित करता है.
Comment[ks]=ڈراؤکے ذریعہ سےڈرا‏‏‏ئینگس،فلوچارٹس،اورلوگوس کی تخلیق اورمرتب کرو۔
Comment[es]=Cree y edite dibujos, diagramas de flujo y logotipos con Draw.
Comment[tt]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[ast]=Crear y editar dibuxos, diagrames de fluxu y logos emplegando Draw.
Comment[lv]=Veidot un rediģēt zīmējumus, norises shēmas un firmas zīmes, lietojot Draw.
Comment[fr]=Draw - Création et édition de dessins, d'organigrammes et de logos.
Comment[ss]=Yakha u-edithe kudvweba, ndizisa emashati, neticubulo ngekusebentisa Draw.
Comment[or]=ଅଙ୍କନ ଉପୟୋଗକରି ଚିତ୍ରାଙ୍କନ, ଫ୍ଲୋ ଚାର୍ଟ ଏବଂ ଚିହ୍ନଗୁଡିକୁ ସୃଷ୍ଟି ଏବଂ ସମ୍ପାଦନ କର।
Comment[id]=Mengolah gambar, diagram alur, dan logo menggunakan Draw.
Comment[xh]=Dala uze uhlele imizobo, iitshati zomqukuqelo, kunye nee-logo ngokusebenza u-Draw.
Comment[th]=สร้างและแก้ไขการวาด แผนภูมิงาน และโลโก้ โดยการใช้ Draw
Comment[sr]=Направите и уређујте цртеже, дијаграме тока и логотипе у Цртању.
Comment[si]=Draw භාවිතා කරමින් ඇඳීම්, ගැලීම් සටහන් සහ ලාංඡන සාදන්න සහ වෙනස් කරන්න.
Comment[et]=Draw võimaldab luua ja redigeerida joonistusi, vooskeeme ning logosid.
Comment[kok]=रेखाटन वापरून रेखाचित्र, प्रवाही तक्ते आनिक बोदचिन्नांची निर्मणी आनिक सम्पादन करात.
Comment[bn_IN]=ড্র ব্যবহার করে অঙ্কন, প্রবাহ চিত্র, এবং লোগো তৈরি এবং সম্পাদনা করুন।
Comment[dgo]=चित्रण बरतियै  चित्रकारी,फ्लो चार्ट ते पन्छान चि'न्न सिरजो ते संपादत करो.   
Comment[om]=Draw fayyadamuun fakkasaawwan, yaa'insa taattoowwanii fi asxaa uumi, gulaali.
Comment[mk]=Креирајте и уредувајте цртежи, графикони и логоа со користење на Draw.
Comment[en]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[fi]=Luo ja muokkaa piirroksia, vuokaavioita ja logoja Draw-ohjelmalla.
Comment[lt]=Grafikos rengykle galima braižyti brėžinius, blokines schemas, kurti logotipus.
Comment[de]=Zeichnungen erstellen und bearbeiten, Flussdiagramme entwerfen und Logos kreieren - Draw macht's möglich.
Comment[hr]=Stvorite i uredite crteže, blok-dijagrame i logo koristeći Draw.
Comment[mai]=ड्रॉक प्रयोगसँ रेखाचित्र, फ्लोचार्ट, आओर लोगो बनबैत आ संपादित करैत अछि.
Comment[be]=Стварайце і рэдагуйце рысункі, блок-схемы і лагатыпы з дапамогаю Draw-а.
Comment[zu]=Yenza futhi ulungise imidwebo, amaflowchadi, namalogo ngokusebenzisa into yokuDweba.
Comment[sd]=نقش جو اِستعمال ڪندي نقش، فلو چارٽ ۽ لوگوز خلقيو ۽ سمپادت ڪريو۔ 
Comment[sr_Latn]=Napravite i uređujte crteže, dijagrame toka i logotipe u Crtanju.
Comment[kmr_Latn]=Xêzkirinan, xanxankên herikînê û logoyan bi Drawê çêbike û sererast bike.
Comment[sl]=S programom Draw ustvarjajte in urejajte risbe, slike, diagrame poteka in logotipe.
Comment[nn]=Med Draw kan du laga og redigera teikningar, flytdiagram og logoar.
Comment[bn]=ড্র ব্যবহার করে অঙ্কন, প্রবাহ চিত্র, এবং লোগো তৈরি এবং সম্পাদনা করুন।
Comment[am]=መሳያን በመጠቀም ስእል ፡ ሰንጠረዥ ፡ እንዲሁም አርማዎችን ይፍጠሩ እና ያርሙ
Comment[ja]=Draw を使用して、図形描画、フローチャート、およびロゴを作成および編集します。
Comment[tg]=Бо ёрии Draw тасвирҳо, нақшаҳо, логотипҳо сохтан мумкин аст.
Comment[mr]=Draw चा वापरून रेखाचित्र, फ्लोचार्ट, व प्रतिक बनवा आणि संपादीत करा.
Comment[en_ZA]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[dz]=ཌཱ་ི་པ་ལག་ལེན་འཐབ་ཐོག་པར་རིས་དང་འབབ་རྒྱུན་དཔེ་རིས་ ལེགས་རྟགས་ཚུ་་ཚད་རིས་ཚུ་བཟོ་ནི་དང་ཞུན་དག་རྐྱབ་ནི།
Comment[te]=చిత్రలేఖనము,ఫ్లోచార్ట్ మరియు,దేవుని చిత్రములను నిర్మించి సరిచేయుము.
Comment[he]=יצירה ועריכה של ציורים, תרשימי זרימה וסמלים מסחריים באמצעות תוכנת הציור.
Comment[kn]=ಡ್ರಾ ಉಪಯೋಗಿಸಿಕೊಂಡು ಚಿತ್ರಗಳನ್ನು, ಹರಿವು(ಫ್ಲೋ) ನಕ್ಷೆಗಳನ್ನು ಹಾಗೂ ಲಾಂಛನಗಳನ್ನು ರಚಿಸಿ ಮತ್ತು ಸಂಪಾದಿಸಿ.
Comment[eo]=Krei kaj redakti desegnaĵojn, stirfluajn diagramojn, kaj emblemojn per Desegnilo.
Comment[nl]=Met Draw kunt u tekeningen, stroomdiagrammen en logo's maken en bewerken.
Comment[ar]=إنشاء الرسوم وتحريرها، ورسوم الدفق البيانية، والشعارات باستخدام درو.
Comment[mn]=Draw ашиглан зураг, урсгал диаграмм ба лого үүсгэх болон засварлах.
Comment[gd]=Cruthaich is deasaich tarraingean, cairtean-srutha agus suaicheantasan le Draw.
Comment[as]=Draw ব্যৱহাৰ কৰি ড্ৰয়িং, ফ্ল' ছাৰ্ট আৰু ল'গ'বোৰ সৃষ্টি আৰু সম্পাদনা কৰক।
Comment[sat]=गार  तेयार बेभार दाराय ते गार चिता़र लिंजी  चार्ट, आर चिता़र मोहोर तेया आर सासापड़ाव मे .गार चिता़र रेयाक् बेभार दाराय ते तेयार आर गार चिता़र सापड़ाव ,लिंजी चार्ट, आर चिता़र.
Comment[el]=Δημιουργία και επεξεργασία σχεδίων, διαγραμμάτων ροής, και λογοτύπων με τη χρήση του Draw.
Comment[kk]=Draw көмегімен суреттерді, блок-сызбаларды және логотиптерді жасау және түзетуге болады.
Comment[pt_BR]=Crie e edite desenhos, fluxogramas e logotipos por meio do Draw.
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Vector;Schema;Diagram;Layout;OpenDocument Graphics;Microsoft Publisher;Corel Draw;cdr;odg;svg;
InitialPreference=5
StartupWMClass=libreoffice-draw
X-KDE-Protocols=file,http,ftp,webdav

Actions=NewDocument;
[Desktop Action NewDocument]
Name=New Drawing
Exec=libreoffice4.4 --draw
