[Desktop Entry]
Name=Ex Falso
GenericName=Audio tag editor
GenericName[bg]=Редактор на музикални етикети
GenericName[cs_CZ]=Editor tagů
GenericName[de]=Editor für Audio-Tags
GenericName[el]=Επεξεργαστής ετικετών μουσικής
GenericName[en_CA]=Audio tag editor
GenericName[en_GB]=Audio tag editor
GenericName[es]=Editor de etiquetas de audio
GenericName[eu]=Audio etiketa editorea
GenericName[fi]=Äänitiedostojen tunniste-editori
GenericName[fr]=Éditeur d'étiquettes audio (tags)
GenericName[gl]=Editor de etiquetas de áudio
GenericName[gl_ES]=Editor de etiquetas de música
GenericName[he]=עורך תגיות שירים
GenericName[hu]=Hang tag szerkesztő
GenericName[it]=Editor di tag audio
GenericName[ja]=オーディオタグ・エディタ
GenericName[ko]=오디오 태그 편집기
GenericName[lt]=Garso žymių redaktorius
GenericName[lv]=Audio tagu redaktors
GenericName[nb]=Lydtaggredigering
GenericName[nl]=Audio tag editor
GenericName[pl]=edytor znaczników audio
GenericName[pt]=Editor de informações de músicas
GenericName[ro]=Editor pentru etichete audio
GenericName[ru]=Редактор тегов аудиофайлов
GenericName[sk]=Editor audio tagov
GenericName[sv]=Ljudtaggsredigerare
GenericName[tr]=Müzik etiketleri düzenleyici
GenericName[uk]=Редактор аудіо-тегів
GenericName[zh_CN]=音频标签编辑器
GenericName[zh_TW]=音效標籤編輯器
Comment=Edit tags in your audio files
Comment[bg]=Редактиране на етикетите в аудио файловете Ви
Comment[cs_CZ]=Editovat tagy skladeb
Comment[de]=Audio-Tags bearbeiten
Comment[el]=Επεξεργάσου τις ετικέτες στα αρχεία μουσικής σου
Comment[en_CA]=Edit tags in your audio files
Comment[en_GB]=Edit tags in your audio files
Comment[es]=Edita las etiquetas de tus archivos de música
Comment[eu]=Editatu zure audio fitxategietako etiketak
Comment[fi]=Muokkaa äänitiedostojesi tunnisteita
Comment[fr]=Éditer les etiquettes dans vos fichiers audio
Comment[gl]=Editar as etiquetas dos arquivos de áudio
Comment[gl_ES]=Edita as etiquetas dos teus arquivos de música
Comment[he]=הכנס את כתובת האינטנרט של קובץ המוסיקה
Comment[hu]=Tagok szerkesztése hangfájljaidban
Comment[it]=Modifica i tag dei file audio.
Comment[ja]=オーディオファイルのタグ編集
Comment[ko]=오디오 파일 태그 편집
Comment[lt]=Redaguoti Jūsų garso failų žymes
Comment[lv]=Rediģē tagus jūsu audio failos
Comment[nb]=Endre tagger i lydfiler
Comment[nl]=Bewerk tags in je audio bestanden
Comment[pl]=Edycja znaczników w plikach dźwiekowych
Comment[pt]=Editar informações em seus arquivos de som
Comment[ro]=Editare etichete fişiere audio
Comment[ru]=Программа для редактирования тегов аудиофайлов
Comment[sk]=Upraviť tagy vo vašich audio súboroch
Comment[sv]=Redigera taggar i ljudfiler
Comment[tr]=Ses dosyalarınızdaki etiketleri düzenler
Comment[uk]=Програма для редагування тегів аудіо-файлів
Comment[zh_CN]=编辑您的音频文件里的标签
Comment[zh_TW]=編輯您的音訊標籤
Exec=exfalso
Terminal=false
StartupNotify=true
Type=Application
Icon=exfalso
Categories=AudioVideo;Audio;GTK;
