[Desktop Entry]
Name=Gaupol
Name[de]=Gaupol
Name[es]=Gaupol
Name[fi]=Gaupol
Name[he]=Gaupol
Name[hu]=Gaupol
Name[pt_BR]=Gaupol
Name[ru]=Gaupol
Name[tr]=Gaupol
GenericName=Subtitle Editor
GenericName[de]=Untertiteleditor
GenericName[es]=Editor de subtítulos
GenericName[fi]=Tekstitysmuokkain
GenericName[he]=עורך הכתוביות
GenericName[hu]=Felirat szerkesztő
GenericName[pt_BR]=Editor de Legenda
GenericName[ru]=Редактор субтитров
GenericName[tr]=Alt Yazı Düzenleyicisi
Comment=Edit subtitle files
Comment[de]=Untertiteldateien bearbeiten
Comment[es]=Edita archivos de subtítulos
Comment[fi]=Muokkaa tekstitystiedostoja
Comment[he]=עריכת קובצי הכתוביות
Comment[hu]=Felirat fájl szerkesztése
Comment[pl]=Edytuj pliki napisów
Comment[pt_BR]=Editar arquivos de legenda
Comment[ru]=Редактирование файлов субтитров
Comment[sv]=Redigera undertextfiler
Comment[tr]=Alt yazı dosyasını düzenle
Exec=gaupol %F
Terminal=false
StartupNotify=true
Icon=gaupol
Type=Application
MimeType=text/x-microdvd;text/x-mpsub;text/x-ssa;application/x-subrip;text/x-subviewer;
Categories=GTK;AudioVideo;Video;
X-GNOME-FullName=Gaupol Subtitle Editor
X-GNOME-FullName[de]=Untertiteleditor Gaupol
X-GNOME-FullName[es]=Editor de subtítulos Gaupol
X-GNOME-FullName[fi]=Gaupol tekstitysmuokkain
X-GNOME-FullName[he]=עורך הכתוביות Gaupol
X-GNOME-FullName[hu]=Gaupol felirat szerkesztő
X-GNOME-FullName[pl]=Edytor napisów Gaupol
X-GNOME-FullName[pt_BR]=Editor de Legenda Gaupol
X-GNOME-FullName[ru]=Редактор субтитров Gaupol
X-GNOME-FullName[sv]=Undertextredigeraren Gaupol
X-GNOME-FullName[tr]=Alt Yazı Düzenleyicisi Gaupol
