[Desktop Entry]
Name=Access Prompt
Name[be]=Запыт доступу
Name[bg]=Съобщение при достъп
Name[ca]=Petició d'accés
Name[ca@valencia]=Petició d'accés
Name[cs]=Dotaz na přístup
Name[da]=Adgangsprompt
Name[de]=Zugangsnachfrage
Name[el]=Τερματικό
Name[en_GB]=Access Prompt
Name[es]=Petición de acceso
Name[eu]=Sarbidetzaren gonbitea
Name[fa]=فرمان دسترسی
Name[fr]=Invite d'accès
Name[gl]=Petición de acceso
Name[he]=אימות גישה
Name[hi]=कहने के लिए प्रेरित पहुँच
Name[hu]=Hozzáféréskérés
Name[id]=Sapaan Akses
Name[it]=Prompt di accesso
Name[ko]=프롬프트 접근
Name[lt]=Prieigos užklausimas
Name[lv]=Piekļuves uzvedne
Name[nb]=Tilgangsdialog
Name[nl]=Toegang verkrijgen
Name[pa]=ਅਸੈਸ ਪਰਾਉਂਟ
Name[pl]=Zapytanie o hasło
Name[pt]=Pedido de Acesso
Name[pt_BR]=Prompt de acesso
Name[ru]=Получение доступа
Name[sk]=Výzva na prístup
Name[sl]=Vnos za dostop
Name[sr]=Упит приступа
Name[sr@latin]=Upit pristupa
Name[ta]=அணுகல் தூண்டல்
Name[th]=คำถามก่อนเข้าถึง
Name[ug]=زىيارەت كۆرسەتمىسى
Name[uk]=Спроба доступитись
Name[vi]=Nhắc truy cập
Name[zh_CN]=访问提示
Name[zh_HK]=存取提示
Name[zh_TW]=存取提示
Comment=Unlock access to passwords and other secrets
Comment[be]=Разблакіраванне доступу да пароляў і іншых сакрэтаў
Comment[bg]=Отключване на достъпа до паролите и други тайни
Comment[ca]=Desbloca l'accés a les contrasenyes i altres secrets
Comment[ca@valencia]=Desbloca l'accés a les contrasenyes i altres secrets
Comment[cs]=Odemknout přístup k heslům a dalším utajovaným informacím
Comment[da]=Lås op for adgang til adgangkode og andre hemmeligheder
Comment[de]=Den Zugang zu Passwörtern und anderen Geheimnissen entsperren
Comment[el]=Ξεκλειδώστε την πρόσβαση σε κωδικούς πρόσβασης και άλλα μυστικά
Comment[en_GB]=Unlock access to passwords and other secrets
Comment[es]=Desbloquear el acceso a contraseñas y otros secretos
Comment[eu]=Desblokeatu sarbidea pasahitzetara eta bestelako sekretuetara
Comment[fa]=باز کردن قفل دسترسی به گذرواژها و رازهای دیگر
Comment[fr]=Débloquer l'accès aux mots de passe et autres secrets
Comment[gl]=Desbloquear o acceso a contrasinais e outros segredos
Comment[he]=שחרור הגישה לססמאות ולסודות אחרים
Comment[hi]=पासवर्ड और अन्य रहस्य के लिए पहुच अनलॉक करें
Comment[hu]=Jelszavak és más titkos információk elérésének feloldása
Comment[id]=Buka kunci akses ke sandi dan rahasia lain
Comment[it]=Sblocca l'accesso alle password e altri segreti
Comment[ko]=암호 및 기타 비밀 정보 접근에 대한 잠금을 풉니다
Comment[lt]=Atrakinti prieigą prie slaptažodžių ir kitų paslapčių
Comment[lv]=Atbloķēt pieeju pie parolēm un citiem noslēpumiem
Comment[nb]=Lås opp tilgang til passord og andre hemmeligheter
Comment[nl]=Toegang tot wachtwoorden en andere geheimen ontgrendelen
Comment[pa]=ਪਾਸਵਰਡ ਅਤੇ ਹੋਰ ਭੇਦ ਖੋਲ੍ਹਣ ਲਈ ਅਣ-ਲਾਕ ਕਰੋ
Comment[pl]=Odblokowanie dostępu do haseł
Comment[pt]=Destrancar acesso a senhas e outros segredos
Comment[pt_BR]=Destravar acesso a senhas e outros segredos
Comment[ru]=Открыть доступ к паролям и другим секретам
Comment[sk]=Odomkne prístup k heslám a iným tajnostiam
Comment[sl]=Odklepanje dostopa do gesel in drugih skrivnih podatkov
Comment[sr]=Откључајте приступ лозинкама и другим тајнама
Comment[sr@latin]=Otključajte pristup lozinkama i drugim tajnama
Comment[ta]=கடவுச்சொற்களுக்கும் மற்ற ரகசியங்களுக்கும் அணுகலை பூட்டு திற
Comment[th]=ปลดล็อคการเข้าถึงรหัสผ่านและรหัสลับอื่นๆ
Comment[ug]=ئىم ۋە باشقا مەخپىيەتلىكلەرنى زىيارەت قىلىش ئۈچۈن قۇلۇپسىزلا
Comment[uk]=Заблокувати доступ до паролів й інших таємниць
Comment[vi]=Mở khoá để truy cập mật khẩu và các bí mật khác
Comment[zh_CN]=解锁密码和其他私密内容的访问权限
Comment[zh_HK]=解除對密碼和其他保密的存取鎖定
Comment[zh_TW]=解除對密碼和其他保密的存取鎖定
Icon=security-medium
Exec=/usr/libexec/gcr-prompter
Terminal=false
Type=Application
NoDisplay=true
