[Desktop Entry]
Name=ALSA sound card
Name[ar]=بطاقة الصوت ALSA
Name[da]=Alsa-lydkort
Name[de]=ALSA Soundkarte
Name[el]=Κάρτα ήχου ALSA
Name[es]=Tarjeta de sonido ALSA
Name[es_AR]=Tarjeta de sonido ALSA
Name[fr]=Carte son ALSA
Name[he]=כרטיס קול ALSA
Name[hu]=ALSA hangkártya
Name[id]=kartu suara ALSA
Name[it]=Scheda audio ALSA
Name[ja]=ALSAサウンド・カード
Name[nl]=ALSA geluidskaart
Name[pl]=Karta dźwiękowa ALSA
Name[pt_PT]=Placa de som ALSA
Name[ru]=Звуковая карта
Name[sv]=ALSA ljudkort
Name[uk]=Звукова карта ALSA
Comment=Select the systemwide ALSA sound card
Comment[ar]=حدد بطاقة صوت ALSA علي مستوي النظام
Comment[da]=Vælg Alsa-lydkort for systemet
Comment[de]=Wählen Sie die systemweite ALSA Soundkarte
Comment[el]=Επιλέξτε την κάρτα ήχου ALSA συστήματος
Comment[es]=Seleccionar la tarjeta de sonido para todo el sistema ALSA
Comment[es_AR]=Seleccionar la tarjeta de sonido para todo el sistema ALSA
Comment[fr]=Sélectionne la carte son ALSA pour l'ensemble du système
Comment[he]=בחירת כרטיס הקול של ALSA עבור כל המערכת (systemwide)
Comment[hu]=Válasszon rendszerszintű ALSA hangkártyát
Comment[it]=Selezionare la scheda audio ALSA per tutto il sistema
Comment[ja]=システム一般用のALSAサウンド・カードを選ぶ。
Comment[nl]=Selecteer de ALSA geluidskaart voor het gehele systeem 
Comment[pl]=Wybierz systemową kartę dźwiękową ALSA
Comment[pt_PT]=Selecione a placa de som ALSA em todo o sistema
Comment[ru]=Настройка ALSA для звуковой карты
Comment[sv]=Välj system ALSA ljudkort
Comment[uk]=Вибрати звукову карту ALSA для всієї системи
Exec=gksu gtkalsasetup
Icon=gtkalsasetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
