[Desktop Entry]
Name=System clock
Name[ar]=ساعة النظام
Name[da]=Systemur
Name[de]=Systemuhrzeit
Name[el]=Ρολόι συστήματος
Name[es]=Reloj del sistema
Name[es_AR]=Reloj del sistema
Name[fr]=Horloge système
Name[he]=שעון מערכת
Name[hu]=Rendszeróra
Name[id]=Jam Sistem
Name[it]=Orologio di sistema
Name[ja]=システム時計
Name[nl]=Systeemklok
Name[pl]=Zegar systemowy
Name[pt_PT]=Relógio do sistema
Name[ru]=Дата и время
Name[sv]=System klocka
Name[uk]=Час системи
Comment=System clock configuration tool
Comment[ar]=نظام أداة التكوين ساعة
Comment[da]=Konfigurationsværktøj for systemur
Comment[de]=Uhrzeit stellen
Comment[el]=Ρύθμιση του ρολογιού του συστήματος
Comment[es]=Herramienta de configuración del reloj del sistema
Comment[es_AR]=Herramienta de configuración del reloj del sistema
Comment[fr]=Utilitaire de configuration de l'horloge système
Comment[he]=תוכנת עזר לקביעת תצורת שעון מערכת
Comment[hu]=Rendszeróra beállítóeszköz
Comment[it]=Strumento per la configurazione dell'Orologio di sistema
Comment[ja]=システム時計設定用のツール
Comment[nl]=Systeemklok configuratietool
Comment[pl]=Narzędzie do konfigurowania zegara systemowego
Comment[pt_PT]=Ferramenta de configuração do relógio do sistema
Comment[ru]=Графический интерфейс для clocksetup (входит в состав salixtools) — инструмента настройки даты и времени. Gtkclocksetup входит в состав salixtools-gtk.
Comment[sv]=System tids konfiguration
Comment[uk]=Інструмент налаштування системного часу
Exec=kdesu gtkclocksetup
Icon=gtkclocksetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
