[Desktop Entry]
Name=Hostnames
Name[ar]=أسماء المضيفين
Name[da]=Værtsnavne
Name[de]=Hostnamen
Name[el]=Ονόματα υπολογιστών
Name[es]=Nombres de host
Name[es_AR]=Nombres de host
Name[fr]=Noms d'hôtes
Name[he]=שמות המארח
Name[hu]=Gépnevek
Name[id]=Hostname
Name[it]=Hostnames
Name[ja]=ホストネーム
Name[nl]=Host namen
Name[pl]=Nazwy hostów
Name[pt_PT]=Hostnames
Name[ru]=Имя компьютера в сети
Name[sv]=Värdnamn
Name[uk]=Назва сервера
Comment=Configure the system hostnames
Comment[ar]=تكوين نظام أسماء المضيفين
Comment[da]=Konfigurér systemets værtsnavne
Comment[de]=System-Hostnamen konfigurieren
Comment[el]=Επεξεργασία των ονομάτων υπολογιστών
Comment[es]=Configurar los nombres de host del sistema
Comment[es_AR]=Configurar los nombres de host del sistema
Comment[fr]=Configure les noms d'hôtes du système
Comment[he]=תצורת שמות (המחשב) המארח של המערכת
Comment[hu]=A rendszer gépneveinek beállítása
Comment[id]=Mengkonfigurasi hostname sistem
Comment[it]=Configura gli hostname del sistema
Comment[ja]=システムのホストネーム設定
Comment[nl]=Configureer de hostnamen van het systeem
Comment[pl]=Konfiguracja systemu nazw hostów
Comment[pt_PT]=Configure o sistema de hostnames
Comment[ru]=Настройка имени компьютера в сети. Gtkhostsetup входит в состав salixtools-gtk.
Comment[sv]=Konfigurera systemets värdnamn
Comment[uk]=Конфігурація системних назв серверів
Exec=gksu gtkhostsetup
Icon=gtkhostsetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
