[Desktop Entry]
Name=Rebuild icon cache
Name[ar]=أعد بناء cache الرمز
Name[da]=Genopbyg ikoncache
Name[de]=Symbol-Zwischenspeicher aktualisieren
Name[el]=Επαναδημιουργία της μνήμης εικονιδίων
Name[es]=Reconstruir el caché de iconos
Name[es_AR]=Reconstruir el caché de iconos
Name[fr]=Reconstruire le cache des icônes
Name[he]=הרכבה מחדש של מטמון הסמלים
Name[hu]=Ikongyorsítótár újraépítése
Name[it]=Ricostruzione cache delle icone
Name[ja]=イコン・キャッシュを作り直す
Name[nl]=Bouw de iconen cache opnieuw
Name[pl]=Przebuduj cache ikon
Name[pt_PT]=Reconstruir cache de ícone
Name[ru]=Обновление значков
Name[sv]=Återbygg ikon cache
Name[uk]=Перебудувати кешу іконок
Comment=Rebuild the system's icon cache
Comment[ar]=أعد بناء cache الرمز للنظام
Comment[da]=Genopbyg systemets ikoncache
Comment[de]=Symbol-Zwischenspeicher des Systems aktualisieren
Comment[el]=Επαναδημιουργία της μνήμης εικονιδίων του συστήματος
Comment[es]=Reconstruir el caché de iconos del sistema
Comment[es_AR]=Reconstruir el caché de iconos del sistema
Comment[fr]=Reconstruit le cache des icônes du système
Comment[he]=הרכבה מחדש של מטמון הסמלים של המערכת
Comment[hu]=A rendszerikonok gyorsítótárának újraépítése
Comment[it]=Ricostruzione cache delle icone di sistema 
Comment[ja]=システム用のイコン・キャッシュを作り直す
Comment[nl]=Bouw opnieuw de iconen cache van het systeem
Comment[pl]=Odbudowanie systemu cache ikon
Comment[pt_PT]=Reconstruir o cache do sistema ícone
Comment[ru]=Обновление списка доступных значков...
Comment[sv]=Återbygg systemets ikon cache
Comment[uk]=Перебудувати системний кеш іконок
Exec=gksu gtkiconrefresh
Icon=gtkiconrefresh
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=XFCE
