[Desktop Entry]
Name=Keyboard
Name[ar]=لوحة المفاتيح
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[es]=Teclado
Name[es_AR]=Teclado
Name[fr]=Clavier
Name[he]=לוח המקשים
Name[hu]=Billentyűzet
Name[it]=Tastiera
Name[ja]=キーボード
Name[nl]=Toetsenbord
Name[pl]=Klawiatura
Name[pt_PT]=Teclado
Name[ru]=Клавиатура
Name[sv]=Tangentbord
Name[uk]=Клавіатура
Comment=Keyboard configuration tool
Comment[ar]=آلة إعداد لوحة المفاتيح 
Comment[da]=Konfigurationsværktøj for tastatur
Comment[de]=Konfiguration des Tastaturlayouts
Comment[el]=Ρύθμιση της διάταξης του πληκτρολογίου
Comment[es]=Herramienta de configuración del teclado
Comment[es_AR]=Herramienta de configuración del teclado
Comment[fr]=Utilitaire de configuration du clavier
Comment[he]=תוכנת עזר לתצורת המקלדת
Comment[hu]=Billentyűzet beállítóeszköz
Comment[it]=Strumento di configurazione della tastiera
Comment[ja]=キーボード設定用ツール
Comment[nl]=Toetsenbord configuratietool
Comment[pl]=Narzędzie do konfiguracji klawiatury
Comment[pt_PT]=Ferramenta de configuração de teclado
Comment[ru]=Графический интерфейс для keyboardsetup (входит в состав salixtools) — инструмента управления ракладкой клавиатуры. Gtkkeyboardsetup входит в состав salixtools-gtk.
Comment[sv]=Tangentbords konfigurering
Comment[uk]=Інструмент налаштування клавіатури
Exec=kdesu gtkkeyboardsetup
Icon=gtkkeyboardsetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
