[Desktop Entry]
Name=System language
Name[ar]=لغة النظام 
Name[da]=Systemsprog
Name[de]=Systemsprache
Name[el]=Γλώσσα συστήματος
Name[es]=Idioma del sistema
Name[es_AR]=Idioma del sistema
Name[fr]=Langue système
Name[he]=שפת מערכת
Name[hu]=Rendszernyelv
Name[id]=Bahasa Sistem
Name[it]=Lingua di sistema
Name[ja]=システム用の言語
Name[nl]=Systeemtaal
Name[pl]=Język systemu
Name[pt_PT]=Idioma do sistema
Name[ru]=Язык системы
Name[sv]=System språk
Name[uk]=Системна мова
Comment=Locale configuration tool
Comment[ar]=أداة ضبط اللغة 
Comment[da]=Konfigurationsværktøj for sprog
Comment[de]=Sprach- und Ländereinstellungen des Systems
Comment[el]=Εργαλείο για τη ρύθμιση της γλώσσας του συστήματος
Comment[es]=Herramienta de configuración de localización
Comment[es_AR]=Herramienta de configuración de localización
Comment[fr]=Utilitaire de configuration de la langue du système
Comment[he]=תוכנת עזר לתצורת מקומיות (locale) 
Comment[hu]=Nyelvi beállítóeszköz
Comment[id]=Perangkat Konfigurasi lokal
Comment[it]=Strumento di configurazione della lingua
Comment[ja]=ローカル設定用のツール
Comment[nl]=Locale configuratietool
Comment[pl]=Narzędzie do konfiguracji ustawień regionalnych
Comment[pt_PT]=Ferramenta de configuração da localidade
Comment[ru]=Графический интерфейс для localesetup (входит в состав salixtools) — инструмента управления языком системы. Gtklocalesetup входит в состав salixtools-gtk.
Comment[sv]=Språk konfiguration
Comment[uk]=Інструмент налаштування локалі
Exec=kdesu gtklocalesetup
Icon=gtklocalesetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
