[Desktop Entry]
Name=GTKMan Manual Page Viewer
Name[ar]=GTKMan عارض صفحات التعليمات
Name[cs]=GTKMAn Prohlížec manuálových stránek
Name[da]=GTKMan manualsideviser
Name[de]=GTKMan Handbuchseiten-Betrachter
Name[el]=Εμφάνιση σελίδων εγχειριδίου
Name[es]=Visor de Páginas del Manual GTKMan
Name[es_AR]=Visor de Páginas de Manual GTKMan
Name[fr]=GTKMan - visionneuse de pages de manuel
Name[he]=‏GTKMan מציג דפי הדרכה
Name[hu]=GTKMan kézikönyvoldal megjelenítő
Name[it]=GTKMan  Visualizzatore di Pagina Manuale
Name[ja]=GTKManマニュアルページ·ビューアー
Name[nl]=GTKMan Handleiding toner
Name[pl]=GTKMan obsługi Page Viewer
Name[pt_BR]=GTKMan visualizador de páginas manual
Name[pt_PT]=Manual do Visualizador de Páginas GTKMan
Name[ru]=Программа просмотра руководств GTKMan
Name[sv]=GTKMan Manual visare
Name[sv_SE]=GTKMan Manual visare
Name[tr]=GTKMan Kılavuzu Sayfa Görüntüleyici
Name[uk]=Переглядач сторінок допомоги GTKMan
Comment=A simple GTK+2 manual page viewer
Comment[ar]=عارض صفحة تعليمات GTK+2 البسيطة
Comment[cs]=Jednoduchý GTK+2 prohlížeč manuálových stránek
Comment[da]=En simpel GTK+2 viser til manualsider
Comment[de]=Ein einfacher GTK+2 Handbuchseiten-Betrachter
Comment[el]=Μια απλή εφαρμογή εμφάνισης σελίδων εγχειριδίου, βασισμένη στο GTK+2
Comment[es]=Un visor GTK+2 simple de páginas del manual
Comment[es_AR]=Un visor GTK+2 simple de páginas del manual
Comment[fr]=Une simple visionneuse de pages de manuel en GTK+2
Comment[he]=מציג דפי הדרכה פשוט מבוסס GTK+2
Comment[hu]=Egyszerű GTK+2 kézikönyvoldal megjelenítő
Comment[it]=Un semplice visualizzatore di manuale in GTK+2
Comment[ja]=シンプルなGTK +2のマニュアルページ·ビューアー
Comment[nl]=Een eenvoudige GTK+2 handleiding toner
Comment[pl]=Prosta GTK+2 przeglądarka manuali
Comment[pt_BR]=Um simples visualizador manual de página GTK+2
Comment[pt_PT]=Um simples visualizador página de manual GTK +2
Comment[ru]=Простая программа посмотра man-страниц на GTK+2
Comment[sv]=En enkel GTK+2 läsare för manualsidor
Comment[sv_SE]=En enkel GTK+2 läsare för manualsidor
Comment[tr]=Basit bir GTK+2 elle sayfa gösterici
Comment[uk]=Простий GTK+2 переглядач сторінок допомоги
Exec=gtkman salix
Icon=gtkman
Terminal=false
Type=Application
Categories=Application;Utility;
StartupNotify=true
Encoding=UTF-8
