[Desktop Entry]
Name=System services
Name[ar]=خدمات النظام
Name[da]=Systemtjenester
Name[de]=Systemdienste
Name[el]=Υπηρεσίες συστήματος
Name[es]=Servicios del sistema
Name[es_AR]=Servicios del sistema
Name[fr]=Services du système
Name[he]=שרותי מערכת
Name[hu]=Rendszerszolgáltatások
Name[it]=Servizi di sistema
Name[ja]=システム・サービス
Name[nl]=Systeemservices
Name[pl]=Usługi systemowe
Name[pt_PT]=Serviços do sistema
Name[ru]=Системные сервисы
Name[sv]=System tjänster
Name[uk]=Системні сервіси
Comment=Services configuration tool
Comment[ar]=أداة ضبط الخدمات
Comment[da]=Konfigurationsværktøj for tjenester
Comment[de]=Systemdienste konfigurieren
Comment[el]=Διαχείρηση των υπηρεσιών συστήματος
Comment[es]=Herramienta de configuración de los servicios
Comment[es_AR]=Herramienta de configuración de los servicios
Comment[fr]=Utilitaire de configuration des services
Comment[he]=כלי להגדרת שירותים
Comment[hu]=Szolgáltatások beállítóeszköze
Comment[it]=Strumento di configurazione servici
Comment[ja]=サービス構成ツール
Comment[nl]=Services configuratietool
Comment[pl]=Narzędzie konfiguracji usług
Comment[pt_PT]=Ferramenta de configuração de serviços
Comment[ru]=Графический интерфейс для servicesetup (входит в состав salixtools) — инструмента управления загрузкой системных сервисов. Gtkservicesetup входит в состав salixtools-gtk.
Comment[sv]=Konfigurera tjänster
Comment[uk]=Інструмент налаштування сервісів
Exec=gksu gtkservicesetup
Icon=gtkservicesetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NotShowIn=KDE
