[Desktop Entry]
Name=Users and groups
Name[da]=Håndtér brugere og grupper
Name[de]=Benutzerverwaltung
Name[el]=Χρήστες και ομάδες
Name[es]=Usuarios y grupos
Name[es_AR]=Usuarios y grupos
Name[fr]=Gestion des utilisateurs et groupes
Name[he]=משתמשים וקבוצות
Name[hu]=Felhasználók és csoportok
Name[it]=Utenti e gruppi
Name[ja]=ユーザとグループ
Name[nl]=Gebruikers en groepen
Name[pl]=Użytkownicy i grupy
Name[pt_PT]=Utilizadores e grupos
Name[ru]=Пользователи и группы
Name[sv]=Användare och grupper
Name[uk]=Користувачі і групи
Comment=Users and groups management tool
Comment[ar]=أداة إدارة المستخدمين و المجموعات 
Comment[da]=Håndteringsværktøj til brugere og grupper
Comment[de]=Einstellungen der Benutzer verwalten
Comment[el]=Εργαλείο για τη διαχείριση των χρηστών και των ομάδων χρηστών του συστήματος
Comment[es]=Herramienta de administración de usuarios y grupos
Comment[es_AR]=Herramienta de administración de usuarios y grupos
Comment[fr]=Utilitaire de gestion des utilisateurs et groupes
Comment[he]=תוכנת עזר לניהול משתמשים וקבוצות
Comment[hu]=Felhasználók és csoportok kezelése
Comment[it]=Strumento di gestione degli utenti e dei gruppi
Comment[ja]=ユーザとグループの管理ツール
Comment[nl]=Gebruikers en groepen beheertool
Comment[pl]=Użytkownicy i narzędzia do zarządzania grupami
Comment[pt_PT]=Ferramenta de gestão de utilizadores e grupos
Comment[ru]=Графический интерфейс для usersetup (входит в состав salixtools) — инструмента управления пользователями и группами. Gtkusersetup входит в состав salixtools-gtk.
Comment[sv]=Användare och grupp hantering
Comment[uk]=Інструмент керування користувачами і групами
Exec=gksu gtkusersetup
Icon=gtkusersetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
NotShowIn=KDE
