[Desktop Entry]
Name=MATE Terminal
Name[am]=የሜት ተርሚናል
Name[ar]=طرفيّة متّة
Name[as]=MATE Terminal
Name[ast]=Terminal MATE
Name[az]=MATE Terminalı
Name[be]=Тэрмінал MATE
Name[be@latin]=Terminał MATE
Name[bg]=Терминалът на MATE
Name[bn]=MATE Terminal
Name[bn_IN]=MATE Terminal
Name[br]=Termenell MATE
Name[bs]=MATE terminal
Name[ca]=Terminal del MATE
Name[ca@valencia]=Terminal del MATE
Name[cmn]=MATE 終端機
Name[cs]=Terminál MATE
Name[cy]=Terfynell MATE
Name[da]=Mate-terminal
Name[de]=MATE-Terminal
Name[dz]=ཇི་ནོམ་ ཊར་མི་ནཱལ་།
Name[el]=Τερματικό MATE
Name[en@shaw]=·𐑜𐑯𐑴𐑥 𐑑𐑻𐑥𐑦𐑯𐑩𐑤
Name[en_AU]=MATE Terminal
Name[en_CA]=MATE Terminal
Name[en_GB]=MATE Terminal
Name[eo]=MATE-Terminalo
Name[es]=Terminal de MATE
Name[et]=MATE Terminal
Name[eu]=MATE terminala
Name[fa]=پایانه‌ی گنوم
Name[fi]=Maten pääte
Name[fr]=Terminal MATE
Name[fur]=Terminâl di MATE
Name[ga]=Teirminéal MATE
Name[gl]=Terminal do MATE
Name[gu]=MATE ટર્મિનલ
Name[he]=מסוף MATE‏
Name[hi]=गनोम टर्मिनल
Name[hr]=MATE Terminal
Name[hu]=MATE Terminál
Name[hy]=ԳՆՈՄ Տերմինալ
Name[id]=Terminal MATE
Name[it]=Terminale di MATE
Name[ja]=MATE 端末
Name[ka]=გნომ ტერმინალი
Name[kk]=MATE терминалы
Name[kn]=MATE ಟರ್ಮಿನಲ್
Name[ko]=MATE 터미널
Name[ku]=Termînala MATE
Name[ky]=MATE терминалы
Name[lt]=MATE terminalas
Name[lv]=MATE Terminālis
Name[mai]=गनोम टर्मिनल
Name[mg]=Terminaln'ny MATE
Name[mk]=MATE терминал
Name[ml]=ഗ്നോം ടെര്‍മിനല്‍
Name[mn]=ГНОМЕ-Терминал
Name[mr]=MATE टर्मिनल
Name[ms]=Terminal MATE
Name[nb]=MATE-terminal
Name[nds]=MATE Terminal
Name[ne]=जिनोम टर्मिनल
Name[nl]=Mate terminal
Name[nn]=MATE Terminal
Name[oc]=Terminal MATE
Name[or]=MATE ଟର୍ମିନାଲ
Name[pa]=ਗਨੋਮ ਟਰਮੀਨਲ
Name[pl]=Terminal MATE
Name[ps]=جنومي پايالی
Name[pt]=Consola MATE
Name[pt_BR]=Terminal do MATE
Name[ro]=Terminal MATE
Name[ru]=Терминал среды MATE
Name[si]=ග්නෝම් අග්‍රය
Name[sk]=MATE Terminál
Name[sl]=MATE terminal
Name[sq]=Terminali i MATE
Name[sr]=Гномов терминал
Name[sr@latin]=Gnomov terminal
Name[sv]=MATE-terminal
Name[ta]=கனோம் முனையம்
Name[te]=MATE టెర్మినల్
Name[th]=เทอร์มินัล MATE
Name[tr]=MATE Uçbirimi
Name[ug]=MATE تېرمىنال
Name[uk]=Термінал MATE
Name[ur]=میٹ کا ٹرمنل
Name[vi]=Thiết bị cuối MATE
Name[wa]=Terminå di MATE
Name[xh]=i-Terminal ye-MATE
Name[zh_CN]=MATE 终端
Name[zh_HK]=MATE 終端機
Name[zh_TW]=MATE 終端機
GenericName=Terminal
GenericName[am]=ተርሚናል
GenericName[ar]=الطرفية
GenericName[as]=টাৰ্মিনেল
GenericName[ast]=Terminal
GenericName[az]=Terminal
GenericName[be]=Тэрмінал
GenericName[be@latin]=Terminał
GenericName[bg]=Терминал
GenericName[bn]=টার্মিনাল
GenericName[bn_IN]=টার্মিন্যাল
GenericName[br]=Termenell
GenericName[bs]=Terminal
GenericName[ca]=Terminal
GenericName[ca@valencia]=Terminal
GenericName[cmn]=終端機
GenericName[cs]=Terminál
GenericName[cy]=Terfynell
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[dz]=ཊར་མི་ནཱལ་།
GenericName[el]=Τερματικό
GenericName[en@shaw]=𐑑𐑻𐑥𐑦𐑯𐑩𐑤
GenericName[en_AU]=Terminal
GenericName[en_CA]=Terminal
GenericName[en_GB]=Terminal
GenericName[eo]=Terminalo
GenericName[es]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääte
GenericName[fr]=Terminal
GenericName[fur]=Terminâl
GenericName[ga]=Teirminéal
GenericName[gl]=Terminal
GenericName[gu]=ટર્મિનલ
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[hr]=Terminal
GenericName[hu]=Terminál
GenericName[hy]=Տերմինալ
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=端末
GenericName[ka]=ტერმინალი
GenericName[kk]=Терминал
GenericName[kn]=ಟರ್ಮಿನಲ್
GenericName[ko]=터미널
GenericName[ku]=Termînal
GenericName[ky]=Терминал
GenericName[lt]=Terminalas
GenericName[lv]=Terminālis
GenericName[mai]=टर्मिनल
GenericName[mg]=Terminal
GenericName[mk]=Терминал
GenericName[ml]=ടെര്‍മിനല്‍
GenericName[mn]=Терминал
GenericName[mr]=टर्मिनल
GenericName[ms]=Terminal
GenericName[nb]=Terminal
GenericName[nds]=Terminal
GenericName[ne]=टर्मिनल
GenericName[nl]=Terminalvenster
GenericName[nn]=Terminal
GenericName[oc]=Terminal
GenericName[or]=ଟର୍ମିନାଲ
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[pl]=Terminal
GenericName[ps]=پايالی
GenericName[pt]=Consola
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[si]=අග්‍රය
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sq]=Terminali
GenericName[sr]=Терминал
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[ta]=முனையம்
GenericName[te]=టెర్మినల్
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[ur]=ٹرمنل
GenericName[vi]=Thiết bị cuối
GenericName[wa]=Terminå
GenericName[xh]=i-Terminal
GenericName[zh_CN]=终端
GenericName[zh_HK]=終端機
GenericName[zh_TW]=終端機
Comment=Use the command line
Comment[am]=የትእዛዝ መስመር መጠቀሚያ 
Comment[ar]=استعمل سطر الأوامر
Comment[as]=আদেশ লাইন ব্যৱহাৰ কৰক
Comment[ast]=Usar llinia de comandos
Comment[be]=Ужыць загадны радок
Comment[be@latin]=Užyj zahadny radok
Comment[bg]=Използване на команден ред
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[bn_IN]=কমান্ড লাইন ব্যবহার করুন
Comment[br]=Arverañ al linenn arc'had
Comment[ca]=Obriu la línia d'ordres
Comment[ca@valencia]=Obriu la línia d'ordes
Comment[cmn]=使用命令列
Comment[cs]=Používat příkazový řádek
Comment[cy]=Defnyddio'r llinell orchymyn
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[dz]=བཀོད་ལམ་ལག་ལེན་འཐབ།
Comment[el]=Χρήση γραμμής εντολών
Comment[en@shaw]=𐑿𐑕 𐑞 𐑒𐑩𐑥𐑭𐑯𐑛 𐑤𐑲𐑯
Comment[en_AU]=Use the command line
Comment[en_CA]=Use the command line
Comment[en_GB]=Use the command line
Comment[eo]=Uzi komandolinion
Comment[es]=Use la línea de órdenes
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=استفاده از سطر فرمان
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[fur]=Dopre la rie di comant
Comment[ga]=Bain úsáid as líne na n-orduithe
Comment[gl]=Usar a liña de ordes
Comment[gu]=આદેશ વાક્ય વાપરો
Comment[he]=שימוש בשורת הפקודה
Comment[hi]=कमांड लाइन का प्रयोग करें
Comment[hr]=Koristi komandnu liniju
Comment[hu]=Parancssor használata
Comment[id]=Menggunakan baris perintah
Comment[it]=Usa la riga di comando
Comment[ja]=コマンド・ライン端末です
Comment[ka]=ბრზანების ხაზის გამოყენება
Comment[kk]=Командалық жолды қолдану
Comment[kn]=ಆಜ್ಞಾ ಸಾಲನ್ನು ಬಳಸು
Comment[ko]=명령 행을 사용합니다
Comment[ku]=Rêzika fermanan bikar bîne
Comment[ky]=Командалык сапты колдонуу
Comment[lt]=Naudoti komandų eilutę
Comment[lv]=Izmantot komandrindu
Comment[mai]=कमांड लाइन क' प्रयोग करू
Comment[mg]=Hampiasa ny lazam-baiko
Comment[mk]=Користи ја командната линија
Comment[ml]=കമാന്‍ഡ് ലൈന്‍ ഉപയോഗിക്കുക
Comment[mn]=Тушаалын мөр хэрэглэ
Comment[mr]=आदेश पंक्ती वापरा
Comment[ms]=Guna baris perintah
Comment[nb]=Bruk kommandolinjen
Comment[nds]=De Orderreeg bruken
Comment[ne]=आदेश रेखा प्रयोग गर्नुहोस्
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[oc]=Utilizar la linha de comandas
Comment[or]=ନିର୍ଦ୍ଦେଶ ଧାରାକୁ ବ୍ୟବହାର କରନ୍ତୁ
Comment[pa]=ਕਮਾਂਡ ਲਾਇਨ ਵਰਤੋਂ
Comment[pl]=Wiersz poleceń
Comment[ps]=بولۍ ليکه کارول
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Use a linha de comando
Comment[ro]=Folosește linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sq]=Përdor rreshtin e komandës
Comment[sr]=Користите линију наредби
Comment[sr@latin]=Koristite liniju naredbi
Comment[sv]=Använd kommandoraden
Comment[ta]=கட்டளை வரியை பயன்படுத்து
Comment[te]=ఆదేశ లైను ను ఉపయోగించండి
Comment[th]=สั่งการด้วยบรรทัดคำสั่ง
Comment[tr]=Komut satırını kullan
Comment[ug]=بۇيرۇق قۇرىنى ئىشلەت
Comment[uk]=Командний рядок
Comment[ur]=کمانڈ لائن استعمال کریں
Comment[vi]=Dùng dòng lệnh
Comment[wa]=Eployî l' roye di comande
Comment[zh_CN]=使用命令行
Comment[zh_HK]=使用命令列
Comment[zh_TW]=使用命令列
TryExec=mate-terminal
Exec=mate-terminal
Icon=utilities-terminal
Type=Application
X-MATE-DocPath=mate-terminal/index.html
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-terminal
X-MATE-Bugzilla-Component=BugBuddyBugs
X-MATE-Bugzilla-Version=1.8.0
Categories=System;GTK;Utility;TerminalEmulator;
StartupNotify=true

