[Desktop Entry]
Name=About MATE
Name[af]=Aangaande MATE
Name[am]=ስለ ሜት 
Name[an]=Arredol de MATE
Name[ar]=عنْ متّة
Name[as]=MATE ৰ বিষয়ে
Name[ast]=Tocante a MATE
Name[az]=MATE Haqqında
Name[be]=Пра MATE
Name[be@latin]=Źviestki ab MATE
Name[bg]=Относно MATE
Name[bn]=জিনোম পরিচিতি
Name[bn_IN]=MATE পরিচিতি
Name[br]=Diwar-benn MATE
Name[bs]=O MATE-u
Name[ca]=Quant al MATE
Name[ca@valencia]=Quant al MATE
Name[cmn]=關於 MATE
Name[crh]=MATE Aqqında
Name[cs]=O MATE
Name[cy]=Ynghylch MATE
Name[da]=Om Mate
Name[de]=Über MATE
Name[dz]=ཇི་ནོམ་གྱི་སྐོར་ལས།
Name[el]=Περί MATE
Name[en@shaw]=𐑩𐑚𐑬𐑑 ·𐑜𐑯𐑴𐑥
Name[en_AU]=About MATE
Name[en_CA]=About MATE
Name[en_GB]=About MATE
Name[eo]=Pri MATE
Name[es]=Acerca de MATE
Name[et]=MATE'st lähemalt
Name[eu]=MATEri buruz
Name[fa]=درباره‌ی متا
Name[fi]=Tietoja Matesta
Name[fr]=À propos de MATE
Name[fur]=Informazions su MATE
Name[ga]=Maidir le MATE
Name[gl]=Sobre MATE
Name[gu]=જીનોમ વિશે
Name[he]=על אודות MATE
Name[hi]=गनोम का परिचय
Name[hr]=O MATE-u
Name[hu]=A MATE névjegye
Name[hy]=Գնոմի Մասին
Name[ia]=A proposito de MATE
Name[id]=Tentang MATE
Name[ig]=Maka MATE
Name[is]=Um MATE
Name[it]=Informazioni su MATE
Name[ja]=MATE について
Name[ka]=გნომის შესახებ
Name[kk]=MATE туралы
Name[kn]=MATE ನ ಬಗ್ಗೆ
Name[ko]=마테 정보
Name[ku]=Der barê MATE de
Name[ky]=MATE жөнүндө
Name[lo]=ກ່ຽວກັບ ກາໂນມ
Name[lt]=Apie MATE
Name[lv]=Par MATE
Name[mai]=गनोमक संबंधमे
Name[mg]=Momba ny Mate
Name[mi]=Mo MATE
Name[mk]=За MATE
Name[ml]=ഗ്നോമിനെക്കുറിച്ചു്
Name[mn]=Гномын тухай
Name[mr]=MATE विषयी
Name[ms]=Perihal MATE
Name[nb]=Om MATE
Name[nds]=Över MATE
Name[ne]=जिनोमको बारेमा
Name[nl]=Over Mate
Name[nn]=Om MATE
Name[nso]=Mabapi le MATE
Name[oc]=A prepaus de MATE
Name[or]=MATE ବିଷୟରେ
Name[pa]=ਗਨੋਮ ਬਾਰੇ
Name[pl]=O panelu MATE
Name[ps]=د جنومي په اړه
Name[pt]=Sobre o MATE
Name[pt_BR]=Sobre o MATE
Name[ro]=Despre MATE
Name[ru]=О среде MATE
Name[sc]=A pitzu de MATE
Name[si]=MATE පිළිබඳව
Name[sk]=O MATE
Name[sl]=O MATE
Name[sq]=Informacione mbi MATE
Name[sr]=О Гному
Name[sr@latin]=O Gnomu
Name[sv]=Om MATE
Name[ta]=கனோமைப் பற்றி
Name[te]=మేట్ గురించి
Name[th]=เกี่ยวกับ MATE
Name[tk]=MATE barada
Name[tr]=MATE Hakkında
Name[ug]=MATE ھەققىدە
Name[uk]=Про MATE
Name[ur]=میٹ کی بابت
Name[uz]=MATE haqida
Name[uz@cyrillic]=MATE ҳақида
Name[vi]=Dịch bởi Phan Anh
Name[wa]=Å dfait di MATE
Name[xh]=Malunga ne-MATE
Name[yo]=Nípa MATE
Name[zh_CN]=关于MATE
Name[zh_HK]=關於 MATE
Name[zh_TW]=關於 MATE
Name[zu]=Nge MATE
Comment=Learn more about MATE
Comment[af]=Vind meer uit oor MATE
Comment[am]=ስለ ሜት በበለጠ ለመማር 
Comment[an]=Aprenda mas arredol de MATE
Comment[ar]=اعلم المزيد عن متّة
Comment[as]=MATE সম্পৰ্কে বিস্তাৰিত তথ্য পঢ়ক
Comment[ast]=Deprende más so MATE
Comment[be]=Даведайцеся больш пра MATE
Comment[be@latin]=Daviedajsia bolš pra MATE
Comment[bg]=Научете повече за MATE
Comment[bn]=জিনোম সম্পর্কে আরও জানুন
Comment[bn_IN]=MATE সম্পর্কে বিস্তারিত তথ্য পড়ুন
Comment[br]=Gouzout hiroc'h diwar-benn MATE
Comment[ca]=Apreneu més coses sobre el MATE
Comment[ca@valencia]=Apreneu més coses sobre el MATE
Comment[cmn]=獲取更多有關 MATE 的資訊
Comment[crh]=MATE aqqında daa çoq ögreniñiz
Comment[cs]=Poznejte lépe MATE
Comment[cy]=Dysgu mwy am MATE
Comment[da]=Læs mere om Mate
Comment[de]=Mehr über MATE erfahren
Comment[dz]=ཇི་ནོམ་གྱི་སྐོར་ལས་ དེ་ལས་ལྷག་སྟེ་ཤེསཔ་འབད།
Comment[el]=Μάθετε περισσότερα για το MATE
Comment[en@shaw]=𐑤𐑻𐑯 𐑥𐑹 𐑩𐑚𐑬𐑑 ·𐑜𐑯𐑴𐑥
Comment[en_AU]=Learn more about MATE
Comment[en_CA]=Learn more about MATE
Comment[en_GB]=Learn more about MATE
Comment[eo]=Eksciu pli pri MATE
Comment[es]=Aprenda más acerca de MATE
Comment[et]=Rohkem teadmisi MATE'i kohta
Comment[eu]=Ikasi gehiago MATEri buruz
Comment[fa]=درباره میت بیشتر بدانید
Comment[fi]=Opi lisää Matesta
Comment[fr]=En savoir plus sur MATE
Comment[fur]=Par savent di plui su MATE
Comment[ga]=Faigh tuilleadh eolais faoi MATE
Comment[gl]=Aprenda máis sobre MATE
Comment[gu]=જીનોમ વિશે વધુ શીખો
Comment[he]=למידע נוסף על MATE
Comment[hi]=गनोम के बारे में और जानें
Comment[hr]=Saznajte više o MATE-u
Comment[hu]=Tudjon meg többet a MATE-ról
Comment[ia]=Apprende plus super MATE
Comment[id]=Lebih jauh tentang MATE
Comment[is]=Læra meira um MATE
Comment[it]=Per saperne di più su MATE
Comment[ja]=MATE についてもっとよく知るには?
Comment[ka]=დამატებითი ინფორმაცია გნომის შესახებ
Comment[kk]=MATE туралы көбірек біліңіз
Comment[kn]=MATE ನ ಬಗ್ಗೆ ಇನ್ನಷ್ಟು ತಿಳಿಯಿರಿ
Comment[ko]=마테에 대해 더 알아보기
Comment[ku]=Zêdetir agahî li ser MATE bistîne
Comment[ky]=MATE жөнүндө көбүрөөк билүү
Comment[lo]=ຮຽນຮູ້ເພີ້ມ ກ່ຽວກັບ MATE
Comment[lt]=Sužinokite daugiau apie MATE
Comment[lv]=Uzziniet vairāk par MATE
Comment[mai]=गनोमक संबंधमे आओर जानू
Comment[mg]=Hamantatra bebe kokoa momba ny MATE
Comment[mk]=Дознајте повеќе за MATE
Comment[ml]=ഗ്നോമിനെപ്പറ്റി കൂടുതല്‍ അറിയുക
Comment[mn]=Гномын талаар мэдэж авах
Comment[mr]=MATE विषयी अधिक शिका
Comment[ms]=Ketahui lebih lanjut mengenai MATE
Comment[nb]=Lær mer om MATE
Comment[nds]=Mehr över MATE rutkriegen
Comment[ne]=जिनोमको बारेमा धेरै सिक्नुहोस्
Comment[nl]=Meer te weten komen over Mate
Comment[nn]=Lær meir om MATE
Comment[oc]=Aprene mai de MATE
Comment[or]=MATE ବିଷୟରେ ଅଧିକ ଜାଣନ୍ତୁ
Comment[pa]=ਗਨੋਮ ਬਾਰੇ ਹੋਰ ਜਾਣਕਾਰੀ ਲਵੋ
Comment[pl]=Więcej informacji o środowisku MATE
Comment[ps]=د جنومي په اړه نور زده کول
Comment[pt]=Saiba mais sobre o MATE
Comment[pt_BR]=Saiba mais sobre o MATE
Comment[ro]=Aflați mai multe despre MATE
Comment[ru]=Узнать больше о MATE
Comment[sc]=Impara de prus a pitzu de MATE
Comment[si]=MATE පිළිබඳව බොහොදේ  ඉගෙන ගන්න
Comment[sk]=Naučiť sa viac o MATE
Comment[sl]=Več podrobnosti o MATE
Comment[sq]=Mëso më tepër mbi MATE
Comment[sr]=Сазнајте више о Гному
Comment[sr@latin]=Saznajte više o Gnomu
Comment[sv]=Lär dig mer om MATE
Comment[ta]=MATE பற்றி மேலும் பயிலவும்
Comment[te]=మేట్ గురించి మరింత తెలుసుకోండి 
Comment[th]=ข้อมูลเพิ่มเติมเกี่ยวกับ MATE
Comment[tr]=MATE hakkında daha fazla şey öğrenin
Comment[uk]=Дізнайтесь більше про MATE
Comment[ur]=میٹ کے بارے میں مزید جانیں
Comment[uz]=MATE haqida koʻproq bilish
Comment[uz@cyrillic]=MATE ҳақида кўпроқ билиш
Comment[vi]=Xem thêm về MATE - Dịch bởi Phan Anh
Comment[zh_CN]=进一步了解MATE
Comment[zh_HK]=獲取更多有關 MATE 的資訊
Comment[zh_TW]=獲取更多有關 MATE 的資訊
Exec=mate-about
Icon=desktop
Terminal=false
Type=Application
Categories=GTK;Core;Utility;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-desktop
X-MATE-Bugzilla-Component=mate-about
X-MATE-Bugzilla-Version=1.8.1
StartupNotify=false
NoDisplay=true
