#
# This file is part of the LibreOffice project.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This file incorporates work covered by the following license notice:
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements. See the NOTICE file distributed
#   with this work for additional information regarding copyright
#   ownership. The ASF licenses this file to you under the Apache
#   License, Version 2.0 (the "License"); you may not use this file
#   except in compliance with the License. You may obtain a copy of
#   the License at http://www.apache.org/licenses/LICENSE-2.0 .
#
[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=false
Icon=libreoffice4.4-math
Type=Application
Categories=Office;Spreadsheet;Education;Science;Math;X-Red-Hat-Base;X-MandrivaLinux-Office-Other;
Exec=libreoffice4.4 --math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.oasis.opendocument.formula-template;text/mathml;application/mathml+xml;
Name=LibreOffice 4.4 Math
GenericName=Formula Editor
GenericName[sid]=Afi'rimalu Mucceessaancho
GenericName[ne]=सूत्र सम्पादक
GenericName[tr]=Formül Düzenleyici
GenericName[da]=Formeleditor
GenericName[ug]=فورمۇلا تەھرىرلىگۈچ
GenericName[ru]=Редактор формул
GenericName[my]=ပုံသေနည်း တည်းဖြတ်သူ
GenericName[gl]=Editor de fórmulas
GenericName[nb]=Formelredigering
GenericName[ro]=Editor de formule
GenericName[nso]=Morulaganyi wa fomula
GenericName[vi]=Trình soạn công thức 
GenericName[tn]=Formula Editor
GenericName[lo]=Formula Editor
GenericName[ta]=சூத்திரத் திருத்தி
GenericName[lb]=Formula Editor
GenericName[rw]=Formula Editor
GenericName[nr]=Formula Editor
GenericName[sw_TZ]=Formula Editor
GenericName[br]=Embanner reollunioù
GenericName[ts]=Formula Editor
GenericName[ml]=ഫോര്‍മുലാ എഡിറ്റര്‍
GenericName[cy]=Golygydd Fformiwla
GenericName[bo]=སྤྱི་འགྲོས་རྩོམ་སྒྲིག་ཡོ་ཆས།
GenericName[zh_CN]=公式编辑器
GenericName[st]=Formula Editor
GenericName[en_GB]=Formula Editor
GenericName[ko]=수식 편집기
GenericName[uz]=Formula tahrirchisi
GenericName[cs]=Editor vzorců
GenericName[km]=កម្មវិធី​កែសម្រួល​រូបមន្ដ
GenericName[af]=Formule-redigeerder
GenericName[pa_IN]=ਫਾਰਮੂਲਾ ਐਡੀਟਰ
GenericName[is]=Formúluritill
GenericName[bs]=Editor za formule
GenericName[brx]=Formula Editor
GenericName[ca_valencia]=Editor de fórmules
GenericName[ga]=Eagarthóir Foirmlí
GenericName[ka]=Formula Editor
GenericName[eu]=Formula editorea
GenericName[oc]=Editor de formula
GenericName[mni]=ফোর্মুলা ইদিতর
GenericName[gu]=સૂત્ર સંપાદક
GenericName[bg]=Редактор на формули
GenericName[sv]=Formelredigerare
GenericName[it]=Elaboratore di formule
GenericName[hu]=Képletszerkesztő
GenericName[sq]=Edituesi i ImageMapës
GenericName[pl]=Edytor formuł
GenericName[ca]=Editor de fórmules
GenericName[fa]=ویرایش‌گر فرمول
GenericName[zh_TW]=公式編輯器
GenericName[sa_IN]=सूत्रसंपादकः
GenericName[sk]=Editor vzorcov
GenericName[ve]=Formula Editor
GenericName[uk]=Редактор формул
GenericName[pt]=Editor de fórmulas
GenericName[hi]=सूत्र संपादक
GenericName[ks]=Formula Editor
GenericName[es]=Editor de fórmulas
GenericName[tt]=Formula Editor
GenericName[ast]=Editor de fórmules
GenericName[lv]=Formulu redaktors
GenericName[fr]=Éditeur de formule
GenericName[ss]=Formula Editor
GenericName[or]=ସୂତ୍ର ସମ୍ପାଦକ
GenericName[id]=Penyunting Rumus
GenericName[xh]=Formula Editor
GenericName[th]=ตัวแก้ไขสูตร
GenericName[sr]=Уређивач формуле
GenericName[si]=සූත්‍ර සකසනය
GenericName[et]=Valemiredaktor
GenericName[kok]=नियमबंध संपादपीSutr sompodok
GenericName[bn_IN]=সূত্র সম্পাদক
GenericName[dgo]=फार्मूला संपादक
GenericName[om]=Gulaalaa Foormulaa
GenericName[mk]=Уредувач на формула
GenericName[en]=Formula Editor
GenericName[fi]=Kaavaeditori
GenericName[lt]=Formulių rengyklė
GenericName[de]=Formeleditor
GenericName[hr]=Uređivač matematičkih formula
GenericName[mai]=Formula Editor
GenericName[be]=Рэдактар формул
GenericName[zu]=Formula Editor
GenericName[sd]=فارمولي جو سمپادڪ
GenericName[sr_Latn]=Uređivač formule
GenericName[kmr_Latn]=Edîtorê Formulan
GenericName[sl]=Urejevalnik formul
GenericName[nn]=Formelredigering
GenericName[bn]=সূত্র সম্পাদক
GenericName[am]=Formula Editor
GenericName[ja]=数式エディター
GenericName[tg]=Formula Editor
GenericName[mr]=सूत्र संपादक
GenericName[en_ZA]=Formula Editor
GenericName[dz]=Formula Editor
GenericName[te]=ఫార్ములా సరికూర్పరి
GenericName[he]=עורך נוסחאות
GenericName[kn]=ಸೂತ್ರ ಸಂಪಾದಕ
GenericName[eo]=Formuloredaktilo
GenericName[nl]=Formule-bewerker
GenericName[ar]=محرر الصيغة
GenericName[mn]=Formula Editor
GenericName[gd]=Deasaiche foirmle
GenericName[as]=সূত্র সম্পাদক
GenericName[sat]=सुता़र सासापड़ावाक्
GenericName[el]=Επεξεργαστής τύπων
GenericName[kk]=Формулалар түзеткіші
GenericName[pt_BR]=Editor de fórmulas
Comment=Create and edit scientific formulas and equations by using Math.
Comment[sid]=Shal horoonsi'ratenni saynsete afi'rimalanna shalagi-hedishsha kalaqqe mucceessi.
Comment[ne]=गणितको प्रयोगद्वारा वैज्ञानिक सूत्रहरू र समीकरणहरू सिर्जना तथा सम्पादन गर्नुहोस् ।
Comment[tr]=Math kullanarak bilimsel formülleri ve eşitlikleri oluşturabilir ve düzenleyebilirsiniz.
Comment[da]=Opret og rediger videnskabelige formler ved brug af Math.
Comment[ug]=Math ئىشلىتىپ ئىلىم-پەن فورمۇلاسى ۋە ئىپادىسى قۇرىدۇ، تەھرىرلەيدۇ.
Comment[ru]=Создание и редактирование научных формул и уравнений.
Comment[my]=သင်္ချာကိုသုံးခြင်းဖြင့် သိပ္ပံဆိုင်ရာပုံသေနည်းများနှင့် ညီမျှခြင်းများ ဖန်တီးတည်းဖြတ်ပါ။
Comment[gl]=Crear e editar fórmulas científicas e ecuacións con Math.
Comment[nb]=Opprett og rediger vitenskapelige formler og ligninger ved bruk av Math.
Comment[ro]=Creați și editați formule științifice și ecuații folosind Math.
Comment[nso]=Hlama le go lokiša difomula tša saense le diekhoišene ka go diriša Math.
Comment[vi]=Tạo và sửa công thức và phương trình khoa học, dùng trình Math.
Comment[tn]=Create and edit scientific formulas and equations by using Math.
Comment[lo]=ສ້າງແລະແກ້ໄຂສູດຄະນິສາດແລະສົມຜົນດ້ວຍການນຳໃຊ້ເລກ.
Comment[ta]=அறிவியல் சூத்திரங்களையும் சமன்பாடுகளையும் உருவாக்க, தொகுக்க மேத்தைப் பயன்படுத்து.
Comment[lb]=Create and edit scientific formulas and equations by using Math.
Comment[rw]=Kurema no guhindura inzira n'inganyagaciro bya gihanga ukoresheje Math.
Comment[nr]=Enza nokuhlela amafomula namakhotheyitjhini ngokusebenzisa i-Math.
Comment[sw_TZ]=Create and edit scientific formulas and equations by using Math.
Comment[br]=Math. - Krouiñ hag embann reollunioù skiantel hag ataladoù.
Comment[ts]=Endla ni ku lulamisa Tifomula ta vutshila bya sayense ni tinhlayo hi ku tirhisa Math.
Comment[ml]=കണക്ക് ഉപയോഗിച്ച് ശാസ്ത്രീയ സൂത്രവാക്യങ്ങളും  സമവാക്യങ്ങളും സൃഷ്ടിക്കുകയും എഡിറ്റു ചെയ്യുകയും ചെയ്യാം.
Comment[cy]=Creu a golygu fformiwlâu gwyddonol a hafaliadau gan ddefnyddio Math.
Comment[bo]=Mathབེད་སྤྱད་དེ་ཚན་རིག་དང་མཐུན་པའི་སྤྱི་བགྲོས་དང་མཉམ་བྱ་རྩིས་ཕྲེང་བཟོ་བ་མ་ཟད།  རྩོམ་སྒྲིག་བྱེད་དགོས།
Comment[zh_CN]=使用 Math 创建并编辑科学公式和方程式。
Comment[st]=Bopa le ho lokisa difomula tsa saense le diekweishene ka ho sebedisa Math.
Comment[en_GB]=Create and edit scientific formulae and equations using Math.
Comment[ko]=Math를 사용하여 수식 및 공학용 수식을 만들고 편집합니다.
Comment[uz]=Math yordamida ilmiy formulalarni tuzish va tahrirlash.
Comment[cs]=Math umožňuje vytvářet a upravovat vědecké vzorce a rovnice.
Comment[km]=បង្កើត និង​កែ​សម្រួល​រូបមន្ត​វិទ្យាសាស្ត្រ និង​សមីការ​ដោយ​ប្រើ Math ។
Comment[af]=Skep en redigeer wetenskaplike formules en vergelykings met Math.
Comment[pa_IN]=ਗਣਿਤ (Math) ਨਾਲ ਵਿਗਿਆਨਕ ਫਾਰਮੂਲੇ ਅਤੇ ਸਮੀਕਰਨ ਬਣਾਓ।
Comment[is]=Búa til og breyta vísindaformúlum og jöfnum með því að nota Math.
Comment[bs]=Kreiranje i uređivanje naučnih formula i jednačina koristeći Math.
Comment[brx]=सानखान्थि बाहायनानै गोनोखो फरमुला आरो समानथाय सोरजि आरो सुजु।
Comment[ca_valencia]=Creeu i editeu fórmules científiques i equacions amb el Math.
Comment[ga]=Cruthaigh foirmlí eolaíocha agus cothromóidí agus cuir iad in eagar le Math.
Comment[ka]=ქმნის და ასწორებს სამეცნიერო ფორმულებს და განტოლებებს Math-ის გამოყენებით.
Comment[eu]=Formula zientifikoak eta ekuazioak sortu eta editatu Math erabiliz.
Comment[oc]=Math - Creacion e edicion de formulas scientificas e d'eqüacions.
Comment[mni]=অঙ্ক শিজিন্নদুনা সাইন্তিফিক ফোর্মুলাশিং অমসুং ইক্বেসনশিং শেমগতলো অমসুং শেমদোকউ. 
Comment[gu]=ગણિત વડે વૈજ્ઞાનિક સુત્રો અને સમીકરણો બનાવો.
Comment[bg]=С Math можете да създавате и редактирате математически формули и уравнения.
Comment[sv]=Skapa och redigera vetenskapliga formler och ekvationer med hjälp av Math.
Comment[it]=Math ti permette di creare e modificare formule scientifiche ed equazioni.
Comment[hu]=Képletek és egyenletek létrehozása és szerkesztése a Math használatával.
Comment[sq]=Krijo dhe edito formula shkencore dhe ekuacione përmes Math
Comment[pl]=Twórz i edytuj wzory matematyczne i naukowe używając programu Math.
Comment[ca]=Creeu i editeu fórmules científiques i equacions amb el Math.
Comment[fa]=با استفاده از ریاضی، فرمول‌ها و معادلات ریاضی ایجاد یا ویرایش کنید.
Comment[zh_TW]=使用 Math 可建立與編輯科學公式與方程式。
Comment[sa_IN]=मैत् उपयुज्य वैज्ञानिकसूत्राणि ईक्वेशन्स् च उत्पादय तथा सम्पदाय च।
Comment[sk]=Vytvárajte a upravujte vedecké vzorce a výrazy s použitím Math.
Comment[ve]=Vhumbani na u lumalamisa dzifomuḽa dza sainthifiki na dziikhwesheni nga u shumisa Math.
Comment[uk]=Створення та редагування наукових формул та рівнянь.
Comment[pt]=Criar e editar fórmulas e equações científicas com o Math.
Comment[hi]=गणित के प्रयोग से वैज्ञानिक सूत्र बनाएं और संपादित करें.
Comment[ks]=میتھ کے ذریعہ سے سائینسی ضابطوں اور مساواتوں کوتخلیق اورمرتب کرو۔
Comment[es]=Cree y edite fórmulas científicas y ecuaciones con Math.
Comment[tt]=Create and edit scientific formulas and equations by using Math.
Comment[ast]=Crear y editar fórmules científiques y ecuaciones emplegando Math.
Comment[lv]=Veidot un rediģēt formulas un vienādojumus, lietojot Math.
Comment[fr]=Math - Création et édition de formules scientifiques et d'équations.
Comment[ss]=Yakha u-edithe ngekwesayensi yemafomula nemakhweshini ngakusebentisa Math.
Comment[or]=ଗଣିତ ଉପୟୋଗକରି ବୌଜ୍ଞାନିକ ସୂତ୍ର ଏବଂ ସମିକରଣଗୁଡିକୁ   ସୃଷ୍ଟି ଏବଂ ସମ୍ପାଦନ କର ।
Comment[id]=Mengolah rumus ilmiah maupun persamaannya menggunakan Math.
Comment[xh]=Dala uze uhlele iindlela zokusebenzisa inzululwazi nongqinelaniso ngokusebenzisa u-Math.
Comment[th]=สร้างและแก้ไขสูตรทางวิทยาศาสตร์และสมการโดยการใช้ Math
Comment[sr]=Направите и уређујте научне формуле и једначине у Математици.
Comment[si]=Math භාවිතා කරමින් විද්‍යාත්මක සූත්‍ර සහ සමීකරණ සාදන්න සහ වෙනස් කරන්න.
Comment[et]=Math võimaldab luua ja redigeerida teaduslikke valemeid ning võrrandeid.
Comment[kok]=गणित वापरून वैज्ञानिक सूत्रां आनिक समीकरणां  तयार करात आनिक सम्पादन करात.
Comment[bn_IN]=ম্যাথ ব্যবহার করে বৈজ্ঞানিক ফর্মূলা এবং সমীকরণ তৈরি এবং সম্পাদনা করুন। 
Comment[dgo]=स्हाब बरतियै विज्ञानक फार्मूले ते समीकरण   सिरजो ते संपादत करो. 
Comment[om]=Math fayyadamuun foormulaawwan saayinsaawaa fi himoota qixxaatoo uumi, gulaali.
Comment[mk]=Креирајте и уредувајте научни формули и равенки користејќи Math.
Comment[en]=Create and edit scientific formulas and equations by using Math.
Comment[fi]=Luo ja muokkaa tieteellisiä kaavioita ja yhtälöitä käyttämällä Math -ohjelmaa.
Comment[lt]=Formulių rengyklė skirta formulėms ir lygtims rašyti.
Comment[de]=Wissenschaftliche Formeln setzen und bearbeiten - Math macht's möglich.
Comment[hr]=Stvorite i uredite znanstvene formule i jednadžbe.
Comment[mai]=Math क प्रयोगसँ वैज्ञानिक सूत्र बनाबु आ संपादित करू.
Comment[be]=Стварайце і рэдагуйце навуковыя формулы і ўраўненні з дапамогаю Math-а.
Comment[zu]=Yenza futhi ulungise amafomula ezesayensi nama-ikhuweyjini ngokusebenzisa into yeziBalo.
Comment[sd]=ميٿ جو اِستعمال ڪندي وگيانڪ نسخا ۽ مُساوتنو خلقيو ۽ سمپادت ڪريو 
Comment[sr_Latn]=Napravite i uređujte naučne formule i jednačine u Matematici.
Comment[kmr_Latn]=Wekhevîn û formulên zanistî bi Mathê çê bike û sererast bike.
Comment[sl]=S programom Math ustvarjajte in urejajte znanstvene formule in enačbe.
Comment[nn]=Med Math kan du laga og redigera vitskaplege formlar og likningar.
Comment[bn]=ম্যাথ ব্যবহার করে বৈজ্ঞানিক ফর্মূলা এবং সমীকরণ তৈরি এবং সম্পাদনা করুন। 
Comment[am]=ይፍጠሩ እና ያርሙ scientific formulas and equations ሂሳብን በመጠቀም
Comment[ja]=Math を使用して、科学の公式や方程式を作成し、編集します。
Comment[tg]=Бо ёрии Math формулаҳои илмӣ сохтан, онҳоро ислоҳ кардан мумкин аст.
Comment[mr]=Math चा वापर करून वैज्ञानिक सूत्रे व समीकरणे बनवा व संपादीत करा.
Comment[en_ZA]=Create and edit scientific formulae and equations by using Math.
Comment[dz]=ཨང་རྩིས་ལག་ལེན་འཐབ་ཐོག་ལས་ ཚན་རིག་དང་འབྲེལ་བའི་མན་ངག་དང་ཨི་ཀུའེ་ཊེ་ཤཱན་བཟོ་ནི་དང་ཞུན་དག་རྐྱབ་ནི།
Comment[te]=శాస్త్ర సూత్రములు మరియు   సమీకరణములను  మేథ్ తో నిర్మించి, సరిచేయుము
Comment[he]=יצירה ועריכה של נוסחאות ומשוואות מדעיות באמצעות תוכנת הנוסחאות.
Comment[kn]=ಮ್ಯಾಥ್ ಬಳಸಿ ವೈಜ್ಞಾನಿಕ ಸೂತ್ರಗಳನ್ನು ಮತ್ತು ಸಮೀಕರಣಗಳನ್ನು ರಚಿಸಿ ಮತ್ತು ಸಂಪಾದಿಸಿ.
Comment[eo]=Krei kaj redakti sciencajn formulojn kaj ekvaciojn per Formulilo.
Comment[nl]=Met Math kunt u wiskundige formules en vergelijkingen maken en bewerken.
Comment[ar]=إنشاء الصيغ العلمية والمعادلات وتحريرها باستخدام ماث.
Comment[mn]=Math ашиглан шинжлэх ухааны томьёо ба тэнцэтгэл биш үүсгэх болон засварлах.
Comment[gd]=Cruthaich is deasaich foirmlean is co-aontairean saidheansail le Math.
Comment[as]=Math ব্যৱহাৰ কৰি বৈজ্ঞানিক সূত্ৰ আৰু সমীকৰণবোৰ সৃষ্টি আৰু সম্পাদনা কৰক।
Comment[sat]=एलखा रेयाक् बेभार दाराय ते सोमान होचो आर सांड़ेस नियोम सासापड़ाव आर तेयार.एलखा रेयाक् बेभार दाराय ते सोमान होचो आर सांड़ेस नियोम सापड़ाव आर तेयार.
Comment[el]=Δημιουργία και επεξεργασία επιστημονικών τύπων και εξισώσεων με τη χρήση του Math.
Comment[kk]=Math көмегімен ғылыми формулаларды және теңдеулерді жасау және түзетуге болады.
Comment[pt_BR]=Crie e edite fórmulas científicas e equações por meio do Math.
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Equation;OpenDocument Formula;Formula;odf;MathML;
InitialPreference=5
StartupWMClass=libreoffice-math
X-KDE-Protocols=file,http,ftp,webdav

Actions=NewDocument;
[Desktop Action NewDocument]
Name=New Formula
Exec=libreoffice4.4 --math
