[Desktop Entry]
Name=Meld
Name[bg]=Meld
Name[ca]=Meld
Name[ca@valencia]=Meld
Name[cs]=Meld
Name[da]=Meld
Name[de]=Meld
Name[dz]=མེལཌི་
Name[el]=Meld
Name[en_CA]=Meld
Name[en_GB]=Meld
Name[eo]=Meldo
Name[es]=Meld
Name[eu]=Meld
Name[fi]=Meld
Name[fr]=Meld
Name[gl]=Meld
Name[hu]=Meld
Name[it]=Meld
Name[ja]=Meld
Name[ko]=Meld
Name[nb]=Meld
Name[ne]=मेल्ड
Name[nl]=Meld
Name[pa]=Meld
Name[pl]=Meld
Name[pt]=Meld
Name[pt_BR]=Meld
Name[ro]=Meld
Name[ru]=Meld
Name[sl]=Meld
Name[sq]=Meld
Name[sr]=Мелд
Name[sr@latin]=Meld
Name[sv]=Meld
Name[vi]=Meld
Name[zh_CN]=Meld
Name[zh_TW]=Meld
GenericName=Diff Viewer
GenericName[bg]=Преглед на разлики
GenericName[ca]=Visualitzador de diferències
GenericName[cs]=Prohlížeč rozdílů
GenericName[da]=Diff-fremviser
GenericName[de]=Diff-Betrachter
GenericName[el]=Προβολή διαφορών
GenericName[eo]=Montrilo de diferencoj
GenericName[es]=Visor de diferencias
GenericName[eu]=Diferentzia-ikustailea
GenericName[fr]=Visionneur de différences
GenericName[gl]=Visualizador Diff
GenericName[hu]=Eltérésmegjelenítő
GenericName[it]=Visualizzatore di differenze
GenericName[ja]=差分ビューアー
GenericName[nb]=Vis forskjeller
GenericName[pl]=Przeglądarka różnic
GenericName[pt_BR]=Visualizador de diff
GenericName[ro]=Vizualizator de diferențe
GenericName[ru]=Просмотр различий
GenericName[sl]=Pregledovalnik sprememb
GenericName[sr]=Прегледач разлика
GenericName[sr@latin]=Pregledač razlika
GenericName[sv]=Diffvisare
GenericName[vi]=Bộ so sánh sự khác biệt Meld
GenericName[zh_CN]=差异查看器
X-GNOME-FullName=Meld Diff Viewer
X-GNOME-FullName[bg]=Програма за сравняване Meld
X-GNOME-FullName[ca]=Visualitzador de diferències Meld
X-GNOME-FullName[ca@valencia]=Visualitzador de diferències Meld
X-GNOME-FullName[cs]=Prohlížeč rozdílů Meld
X-GNOME-FullName[da]=Meld - diff-fremviser
X-GNOME-FullName[de]=Meld Diff-Betrachter
X-GNOME-FullName[dz]=མེལཌི་མ་འདྲཝ་སྟོན་མི་
X-GNOME-FullName[el]=Προβολή διαφορών Meld
X-GNOME-FullName[en_CA]=Meld Diff Viewer
X-GNOME-FullName[en_GB]=Meld Diff Viewer
X-GNOME-FullName[eo]=Meldo - Montrilo de diferencoj
X-GNOME-FullName[es]=Visor de diferencias Meld
X-GNOME-FullName[eu]=Meld diferentzia-ikustailea
X-GNOME-FullName[fi]=Meld - erojen vertailija
X-GNOME-FullName[fr]=Meld visionneur de différences
X-GNOME-FullName[gl]=Visualizador Diff Meld
X-GNOME-FullName[hu]=Meld eltérésmegjelenítő
X-GNOME-FullName[it]=Visualizzatore di differenze Meld
X-GNOME-FullName[ja]=Meld 差分ビューアー
X-GNOME-FullName[ko]=Meld 차이 보기
X-GNOME-FullName[nb]=Meld visning av forskjeller
X-GNOME-FullName[ne]=मेल्ड फरक दर्शक
X-GNOME-FullName[nl]=Meld diff-weergave
X-GNOME-FullName[pl]=Przeglądarka różnic Meld
X-GNOME-FullName[pt]=Visualizador de Diferenças Meld
X-GNOME-FullName[pt_BR]=Visualizador de diff Meld
X-GNOME-FullName[ro]=Vizualizatorul de diferențe Meld
X-GNOME-FullName[ru]=Meld — просмотр различий
X-GNOME-FullName[sl]=Meld pregledovalnik različic
X-GNOME-FullName[sq]=Parësi i Dallimesh Meld
X-GNOME-FullName[sr]=Прегледач разлика Мелд
X-GNOME-FullName[sr@latin]=Pregledač razlika Meld
X-GNOME-FullName[sv]=Diffvisaren Meld
X-GNOME-FullName[vi]=Bộ so sánh sự khác biệt Meld
X-GNOME-FullName[zh_CN]=Meld Diff 差异查看器
X-GNOME-FullName[zh_TW]=Meld Diff 顯示程式
Comment=Compare and merge your files
Comment[bg]=Сравняване и сливане на файлове
Comment[ca]=Compareu i fusioneu fitxers
Comment[ca@valencia]=Compareu i fusioneu fitxers.
Comment[cs]=Porovnává a slučuje soubory
Comment[da]=Sammenlign og flet dine filer
Comment[de]=Vergleichen und Zusammenführen von Dateien
Comment[el]=Σύγκριση και συγχώνευση των αρχείων σας
Comment[eo]=Kompari kaj kunfandi dosierojn
Comment[es]=Compare y combine sus archivos
Comment[eu]=Konparatu eta konbinatu fitxategiak
Comment[fr]=Comparer et fusionner des fichiers
Comment[gl]=Compare e combine os seus ficheiros
Comment[hu]=Fájlok összehasonlítása és összefésülése
Comment[it]=Confronta e unisce file
Comment[ja]=複数のファイルを比較したりマージします
Comment[nb]=Sammenligne og flett sammen dine filer
Comment[pl]=Porównywanie i scalanie plików
Comment[pt_BR]=Compare e mescle seus arquivos
Comment[ro]=Comparați-vă și combinati-vă fișierele
Comment[ru]=Сравнение и объединение файлов
Comment[sl]=Primerjava in združevanje datotek
Comment[sr]=Упоређујте и спајајте ваше датотеке
Comment[sr@latin]=Upoređujte i spajajte vaše datoteke
Comment[sv]=Jämför och slå samman dina filer
Comment[vi]=So sánh và trộn các tập tin của bạn
Comment[zh_CN]=比较和合并您的文件
Exec=meld %F
Terminal=false
Type=Application
Icon=meld
MimeType=application/x-meld-comparison;
StartupNotify=true
Categories=GTK;Development;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=meld
X-GNOME-Bugzilla-Component=general
