[Desktop Entry]
Name=Quod Libet
GenericName=Music Player
GenericName[bg]=Слушане на музика
GenericName[cs_CZ]=Přehrávač hudby
GenericName[de]=Musik-Player
GenericName[el]=Αναπαραγωγή Μουσικής
GenericName[en_CA]=Music Player
GenericName[en_GB]=Music Player
GenericName[es]=Reproductor de música
GenericName[eu]=Musika erreproduzigailua
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur
GenericName[gl]=Reprodutor de música
GenericName[gl_ES]=Reproductor de música
GenericName[he]=נגן מוסיקה
GenericName[hu]=Zenelejátszó
GenericName[it]=Riproduttore
GenericName[ja]=ミュージックプレイヤー
GenericName[ko]=음악 재생기
GenericName[lt]=Muzikos grotuvas
GenericName[lv]=Mūzikas atskaņotājs
GenericName[nb]=Musikkspiller
GenericName[nl]=Muziek Speler
GenericName[pl]=Odtwarzacz Muzyczny
GenericName[pt]=Reprodutor de músicas
GenericName[ro]=Redare audio
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Hudobný prehrávač
GenericName[sv]=Musikspelare
GenericName[tr]=Müzik Çalar
GenericName[uk]=Музичний програвач
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放器
Comment=Listen to, browse, or edit your audio collection
Comment[bg]=За слушане, разглеждане или редактиране на Вашата аудио колекция
Comment[cs_CZ]=Poslouchejte, procházejte nebo upravujte svou hudební sbírku
Comment[de]=Anhören, Durchsuchen und Bearbeiten Ihrer Musik-Sammlung
Comment[el]=Ακούστε, περιηγηθείτε ή επεξεργαστείτε την μουσική σας συλλογή
Comment[en_CA]=Listen to, browse, or edit your audio collection
Comment[en_GB]=Listen to, browse, or edit your audio collection
Comment[es]=Escucha, examina o edita tu colección de música
Comment[eu]=Entzun, arakatu edo editatu zure audio bilduma
Comment[fi]=Kuuntele, selaa tai muokkaa äänikokoelmaasi
Comment[fr]=Ecouter, parcourir ou éditer votre collection musicale
Comment[gl]=Escoite, explore ou edite a sua colecçom de música
Comment[gl_ES]=Escoita, examina ou edita a túa colección de música
Comment[he]=האזן, עיין וערוך את אוסף המוסיקה שלך
Comment[hu]=Hallgasd, böngészd vagy szerkeszd zenéidet
Comment[it]=Ascolta, sfoglia o modifica la collezione audio
Comment[ja]=オーディオファイルの再生、内容表示、編集ができます
Comment[ko]=듣기, 검색 및 오디오 모음 편집
Comment[lt]=Klausykite, naršykite ar redaguokite savo muzikos kolekciją
Comment[lv]=Atskaņo, pārlūko vai rediģē jūsu audio kolekciju
Comment[nb]=Hør på, bla gjennom, eller gjør endringer i din lydsamling
Comment[nl]=Luister naar, browse, of bewerk je audio verzameling
Comment[pl]=Słuchanie, przeglądanie lub edycja kolekcji muzycznej
Comment[pt]=Ouça, navegue, ou edite sua coleção de músicas
Comment[ro]=Ascultaţi, editaţi sau cautaţi în propria colecţie audio
Comment[ru]=Программа для прослушивания и управления фонотекой
Comment[sk]=Počúvajte, prehliadajte, alebo upravujte svoju hudobnú kolekciu
Comment[sv]=Lyssna på, bläddra i eller redigera din ljudsamling
Comment[tr]=Müzik arşivinizi gezin, dinleyin, düzenleyin
Comment[uk]=Програма для прослуховування і керування аудіо-колекцією
Comment[zh_CN]=听、浏览或者编辑您的音频收藏
Comment[zh_TW]=收聽、瀏覽，或編輯您的音訊收藏
Exec=quodlibet
Terminal=false
StartupNotify=true
Type=Application
Icon=quodlibet
Categories=AudioVideo;Audio;Player;GTK;

#http://live.gnome.org/GnomeGoals/NotificationSource
X-GNOME-UsesNotifications=true

# for unity-panel integration
X-Ayatana-Desktop-Shortcuts=X-Play;X-Next;X-Prev;
[X-Play Shortcut Group]
Name=Play/Pause
Name[cs_CZ]=Přehrávat/Pauza
Name[el]=Αναπαραγωγή/Παύση
Name[lt]=Groti/Pristabdyti
Name[ru]=Воспроизведение/Пауза
Name[sv]=Spela upp/pausera
Exec=quodlibet --play-pause
TargetEnvironment=Unity
[X-Next Shortcut Group]
Name=Next
Name[cs_CZ]=Další
Name[el]=Επόμενο
Name[es]=Siguiente
Name[eu]=Hurrengoa
Name[gl]=Seguinte
Name[gl_ES]=Seguinte
Name[lt]=Kita
Name[ru]=Следующая композиция
Name[sv]=Nästa
Exec=quodlibet --next
TargetEnvironment=Unity
[X-Prev Shortcut Group]
Name=Previous
Name[cs_CZ]=Předchozí
Name[el]=Προηγούμενο
Name[lt]=Ankstesnė
Name[ru]=Предыдущая композиция
Name[sv]=Föregående
Exec=quodlibet --prev
TargetEnvironment=Unity
