[Desktop Entry]
Name=Simple Scan
Name[ar]=مسح بسيط
Name[ast]=Simple Scan
Name[bg]=Опростено сканиране
Name[ca]=Escaneig senzill
Name[cs]=Jednoduché skenování
Name[da]=Simpel skanning
Name[de]=Simple Scan
Name[el]=Σάρωση
Name[en_GB]=Simple Scan
Name[es]=Simple Scan
Name[et]=Lihtne skannija
Name[eu]=Simple Scan
Name[fi]=Yksinkertainen kuvanluku
Name[fr]=Numérisation simple
Name[gl]=Escaner sinxelo
Name[he]=סריקה פשוטה
Name[hu]=Simple Scan
Name[it]=Simple Scan
Name[ja]=Simple Scan
Name[ms]=Pengimbas Ringkas
Name[nb]=Simple Scan
Name[nl]=Scannen
Name[oc]=Numerizacion simpla
Name[pl]=Proste skanowanie
Name[pt]=Simple Scan
Name[pt_BR]=Digitalizador Simples
Name[ro]=Scanare simplă
Name[ru]=Simple Scan
Name[sk]=Jednoduché skenovanie
Name[sl]=Enostavno optično branje
Name[sq]=Skanim i thjeshtë
Name[sr]=Обично скенирање
Name[sv]=Enkel bildinläsning
Name[th]=Simple Scan
Name[tr]=Basit Tarama
Name[ug]=ئاددى سىكەن قىلىش
Name[uk]=Просте сканування
Name[vi]=Quét đơn giản
Name[zh_CN]=扫描易
Name[zh_TW]=簡易掃描
Comment=Scan Documents
Comment[ar]=امسح المستندات
Comment[bg]=Сканиране на документи
Comment[ca]=Escanegeu documents
Comment[cs]=Naskenovat dokumenty
Comment[da]=Skan dokumenter
Comment[de]=Dokumente scannen
Comment[el]=Σάρωση εγγράφων
Comment[en_GB]=Scan Documents
Comment[es]=Escanear documentos
Comment[et]=Dokumentide skannimine
Comment[eu]=Eskaneatu dokumentuak
Comment[fi]=Lue asiakirjoja kuvanlukijalta
Comment[fr]=Numériser des documents
Comment[gl]=Escanear documentos
Comment[he]=סריקת מסמך
Comment[hu]=Dokumentumok szkennelése
Comment[it]=Acquisisci documenti
Comment[ja]=ドキュメントをスキャンします
Comment[nb]=Skann dokumenter
Comment[nl]=Documenten scannen
Comment[oc]=Numerizar de documents
Comment[pl]=Skanowanie dokumentów
Comment[pt]=Digitalizar Documentos
Comment[pt_BR]=Digitalizar documentos
Comment[ro]=Scanează documente
Comment[ru]=Сканирование документов
Comment[sk]=Skenovať dokumenty
Comment[sl]=Optično preberite dokumente
Comment[sq]=Skanoj Dokumentet
Comment[sv]=Läs in dokument
Comment[th]=สแกนเอกสาร
Comment[tr]=Belgeleri Tara
Comment[ug]=ھۆججەتلەرنى سكەنلەش
Comment[uk]=Сканувати документи
Comment[zh_CN]=扫描文档
Comment[zh_TW]=掃描文件
Exec=simple-scan
Icon=scanner
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
X-GNOME-Gettext-Domain=simple-scan
