[Desktop Entry]
Name=Sourcery SlackBuild Manager
Name[ar]=مدير Sourcery SlackBuild
Name[cs]=Sourcery SlackBuild Manager
Name[da]=Sourcery SlackBuild-håndtering
Name[de]=Sourcery SlackBuild Manager
Name[el]=Sourcery - Διαχειριστής SlackBuild
Name[es]=Administrador de SlackBuild de Sourcery
Name[es_AR]=Administrador de SlackBuild de Sourcery
Name[fr]=Sourcery, gestionnaire de SlackBuild
Name[he]=‏Sourcery מנהל תסריטי ‫SlackBuild
Name[hu]=Sourcery SlackBuild-kezelő
Name[it]=Sourcery SlackBuild Manager
Name[ja]=Sourcery·SlackBuild·マネージャー
Name[lv_LV]=Sourcery SlackBuild Pārvaldnieks
Name[nl]=Sourcery SlackBuild Manager
Name[pl]=Sourcery SlackBuild Menedżer
Name[pt_BR]=Gerenciador das fontes de origem do SlackBuild
Name[pt_PT]=Sourcery - Gestor de SlackBuilds
Name[ro_RO]=Sourcery SlackBuild Manager
Name[ru]=Менеджер сборки пакетов Sourcery
Name[sv]=Sourcery SlackBuild Hanterare
Name[uk]=Sourcery SlackBuild Manager
Comment=A graphical frontend to slapt-src
Comment[ar]=واجهة slapt-src الرسومية
Comment[cs]=Grafická nástavba nad slapt-src
Comment[da]=En grafisk brugerflade til slapt-src
Comment[de]=Eine grafische Oberfläche für slat-src
Comment[el]=Ένα γραφικό περιβάλλον για το slapt-src
Comment[es]=Un frontend gráfico para slapt-src
Comment[es_AR]=Un frontend gráfico para slapt-src
Comment[fr]=Interface graphique pour slapt-src
Comment[he]=מגשר חזיתי גרפי לתוכנית slapt-src
Comment[hu]=Grafikus felület a slapt-src programhoz
Comment[it]=Un frontend grafico per slapt-src
Comment[ja]=slapt-srcのグラフィカル·フロントエンド
Comment[lv_LV]=Slapt-src grafiska saskarne
Comment[nl]=Een grafische schil voor slapt-src
Comment[pl]=Graficzna nakładka na slapt-src
Comment[pt_BR]=Uma interface gráfica para o slapt-src
Comment[pt_PT]=Uma interface gráfica para o slapt-src
Comment[ro_RO]=O interfaţă grafică pentru slapt-src
Comment[ru]=Графический интерфейс для slapt-src
Comment[sv]=Ett grafiskt gränssnitt till slapt-src
Comment[tr]=slapt-src için grafiksel arayüz
Comment[uk]=Графічний інтерфейс до slapt-src
Exec=kdesu sourcery
Icon=sourcery
Terminal=false
Type=Application
Categories=Application;System;;
StartupNotify=true
Encoding=UTF-8
OnlyShowIn=KDE
