[Desktop Entry]
Name=Viewnior
Name[bg]=Viewnior
Name[cs]=Viewnior
Name[da]=Viewnior
Name[de]=Viewnior
Name[el]=Viewnior
Name[es]=Viewnior
Name[fi]=Viewnior
Name[fr]=Viewnior
Name[gl]=Viewnior
Name[he]=Viewnior
Name[hu]=Viewnior
Name[it]=Viewnior
Name[ja]=Viewnior
Name[lt]=Viewnior
Name[nl]=Viewnior
Name[oc]=Viewnior
Name[pl]=Viewnior
Name[pt]=Viewnior
Name[pt_BR]=Viewnior
Name[ru]=Viewnior
Name[sk]=Viewnior
Name[sr]=Вјувниор
Name[sv]=Viewnior
Name[tr]=Viewnior
Name[uk]=Viewnior
Name[zh_CN]=Viewnior
Comment=Elegant Image Viewer
Comment[bg]=Елегантна програма за разглеждане на картинки
Comment[cs]=Elegantní prohlížeč obrázků
Comment[da]=Elegant Image Viewer
Comment[de]=Eleganter Bildbetrachter
Comment[el]=Καλαίσθητος Προβολέας Εικόνων
Comment[es]=Un visor de imágenes elegante
Comment[fi]=Tyylikäs kuvannäyttäjä
Comment[fr]=Un visionneur d'images élégant
Comment[gl]=Visor de imaxes elegante
Comment[he]=מציג תמונות אלגנטי
Comment[hu]=Elegáns Képnéző
Comment[it]=Elegante Visualizzatore di Immagini
Comment[ja]=エレガントな画像ビューア
Comment[lt]=Elegantiška paveikslų žiūryklė
Comment[nl]=Elegante Afbeeldingsviewer
Comment[oc]=Un visionador d'imatges elegant
Comment[pl]=Elegancka Przeglądarka Obrazów
Comment[pt]=Elegante Visualizador de Imagens
Comment[pt_BR]=Visualizador de imagens elegante
Comment[ru]=Изящный просмотрщик изображений
Comment[sk]=Elegantný prehliadač obrázkov
Comment[sr]=Елегантан прегледач слика
Comment[sv]=Elegant bildvisare
Comment[tr]=Zarif Resim Gösterici
Comment[uk]=Елегантний переглядач зображень
Comment[zh_CN]=精致的图像查看器
TryExec=viewnior
Exec=viewnior %F
Icon=viewnior
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
