[Desktop Entry]
Exec=xscreensaver-demo
Icon=xscreensaver
Terminal=false
Name=Screensaver
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[es]=Salvapantallas
Name[et]=Ekraanisäästja
Name[fi]=Näytönsäästäjä
Name[fr]=Économiseur d'écran
Name[hu]=Képernyővédő
Name[ja]=スクリーンセーバー
Name[ko]=화면 보호기
Name[nb]=Skjermsparer
Name[nl]=Schermbeveiliging
Name[pl]=Wygaszacz ekranu
Name[pt]=Protecção Ecrã
Name[pt_BR]=Protetor de tela
Name[ru]=Хранитель экрана
Name[sk]=Šetrič obrazovky
Name[sv]=Skärmsläckare
Name[vi]=Trình bảo vệ màn hình
Name[wa]=Spårgneu di waitroûle
Name[zh_CN]=屏幕保护程序
Name[zh_TW]=螢幕保護程式
Comment=Change screensaver properties
Comment[da]=Ændr egenskaber for pauseskærm
Comment[de]=Einstellungen des Bildschirmschoners ändern
Comment[fi]=Muuta näytönsäästäjän ominaisuuksia
Comment[fr]=Modifier les propriétés de l'économiseur d'écran
Comment[hu]=Képernyővédő tulajdonságainak megváltoztatása
Comment[ja]=スクリーンセーバーの設定を変更する
Comment[nl]=Eigenschappen van schermbeveiliging aanpassen
Comment[pt_BR]=Modificar as propriedades do protetor de tela
Type=Application
Categories=Settings;DesktopSettings;Security;X-XFCE;
